openapi: 3.0.0
info:
  version: "1.0"
  title: Source Health API
  description: The Source HTTP API
  contact:
    name: Source Support
    email: support@sourcehealth.com
    url: https://sourcehealth.com/docs/api
servers:
  - url: https://api.sourcehealth.com
    description: Source Production
security:
  - bearer: []
  - basic: []
tags: []
paths:
  "/v1/accounts/{id}":
    get:
      summary: Retrieve an Account
      description: >-
        Retrieves the details of an account.


        Supply the unique identifier of the account, or `current` to access your current account.
      tags:
        - Account
      parameters:
        - in: path
          style: simple
          explode: true
          name: id
          schema:
            type: string
            description: Unique ID of the account.
            example: act_KbBlmtoXCFK7Km7S93Nu
          required: true
          description: Unique ID of the account.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account"
      x-methodName: retrieve
      x-belongsToResource: account
    post:
      summary: Update an Account
      description: >-
        Updates an account. At this time you can only update the account name and subdomain.


        Any parameters that are not provided in the request will be left unchanged.
      tags:
        - Account
      parameters:
        - in: path
          style: simple
          explode: true
          name: id
          schema:
            type: string
            description: Unique ID of the account.
            example: act_KbBlmtoXCFK7Km7S93Nu
          required: true
          description: Unique ID of the account.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  description: Name for the account.
                  example: Source Health
                subdomain:
                  type: string
                  minLength: 1
                  description: Subdomain for the account.
                  example: sourcehealth
                time_zone:
                  type: string
                  description:
                    The time zone identifier for this account. Account level time zone identifiers
                    are used to determine when "midnight" exists for your practice, and feed into
                    Source's understanding of your organization's business hours. Note that each
                    user has their own time zone as well, which is what is used when declaring user
                    availability and booking appointments.
                  example: America/New_York
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account"
      x-methodName: update
      x-belongsToResource: account
  /v1/scheduling/appointments:
    post:
      summary: Create an Appointment
      description: >-
        Creates a new appointment in Source.


        By default, you cannot create an appointment for a participant with a conflict during the
        time of the appointment. If desired, you can disable this check by setting the
        skip_constraints param to true.


        You are also able to call the create appointment API with a member token when you are
        building a member-facing experience. In that case, members are only able to book an
        appointment for themselves. Appointments created by members must follow the rules of the
        selected appointment type, and the constraint checks may not be bypassed.
      tags:
        - Appointment
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                appointment_type:
                  type: string
                  description: Unique ID or key of the appointment type for this appointment.
                  example: intake_visit
                time_zone:
                  type: string
                  description:
                    Time zone in which the appointment should be scheduled. Changing this value has
                    no impact on the actual time of the appointment, which is always provided in
                    UTC. However, this value may be used when formatting the appointment time for
                    representation, and recalculating the UTC time in the event of a time zone rule
                    change.
                  example: America/New_York
                member:
                  type: string
                  example: mem_5QW8j1oKqQjNaPk4Hv3f
                  nullable: true
                  description:
                    The member to which this appointment belongs. Setting a member on this property
                    will allow the member to access this appointment via the API. Members can only
                    view appointments which are directly associated with them.
                start_at:
                  type: string
                  format: date-time
                  description:
                    Start time for this appointment. Appointments can be created which start in the
                    past, if you want to record an appointment that has already occured. Appointment
                    times must always be provided in UTC, regardless of the value of the time_zone
                    property.
                  example: 2021-05-13T16:33:00.000Z
                duration:
                  type: number
                  maximum: 1440
                  description:
                    The duration of the appointment, in minutes. If no duration is provided, it will
                    be automatically determined based on the appointment type provided.
                  example: 30
                end_at:
                  type: string
                  format: date-time
                  description:
                    End time for this appointment. When creating an appointment, you can optionally
                    specify either a duration or an end date. If both are specified, the end_at
                    timestamp will take precedence. If neither are provided, the appointment type's
                    default duration will be used.
                  example: 2021-05-13T16:33:00.000Z
                subject:
                  type: string
                  maxLength: 255
                  nullable: true
                  description:
                    Subject of this appointment. This will be shown to all participants. It may also
                    be transmitted via email or SMS, so it should not include PHI.
                  example: Pre-Op Check-In
                instructions:
                  type: string
                  maxLength: 1024
                  nullable: true
                  description:
                    Member instructions for the appointment, which will be shared in advance. It may
                    also be transmitted via email or SMS, so it should not include PHI.
                  example: Please fast for 12 hours prior to your appointment
                participants:
                  type: array
                  items:
                    type: object
                    properties:
                      participant:
                        type: string
                        example: usr_qoGndHzx8KwdYsEByt9X
                        description:
                          The participant to include on this appointment. Must be a valid user
                          identifier.
                    required:
                      - participant
                  description:
                    The participants that should be included on this appointment. At least one
                    participant is required.
                skip_constraints:
                  type: boolean
                  description: >-
                    By default, Source runs a number of checks to prevent you from creating
                    appointments that seem unsafe. For example, we prevent you from creating
                    appointments that take place in the past, from creating appointments outside of
                    the bookable window for an appointment type, from creating appointments that
                    require licensure with unlicensed participants, or from creating appointments
                    during which one of the participants has a conflict.


                    When calling the appointments endpoints with your API key, you can override this
                    behavior by setting the skip_constraints param to true, allowing you to create
                    your appointment. Note that some checks, such as ensuring the appointment end
                    time is after the start time, cannot be bypassed.


                    Member tokens are unable to provide this parameter, and will receive a
                    permissions error if they attempt to.
                video_call:
                  type: object
                  properties:
                    provider:
                      type: string
                      enum:
                        - custom
                        - source
                      description:
                        The video call provider. Source automatically generates video call links for
                        every appointment type that is configured to do so. Alternatively, you can
                        use the value `custom` to provide your own video call link.  When providing
                        `custom`, you must provide a join URL and can optionally include a token or
                        passcode.
                      example: custom
                    join_url:
                      type: string
                      nullable: true
                      description:
                        The URL to access the video call. Anyone with this link will be able to
                        request to join this video call, so you should ensure it is kept safe. Only
                        for 'custom' video calls - for 'source' video calls, we generate the join
                        URL.
                      example: https://video-provider.example.com/?join=eeh4Eec1ahBoquohshe1fooh
                    passcode:
                      type: string
                      nullable: true
                      description:
                        Passcode used when joining the call. This value is not used for
                        Source-generated video calls, but it may be used if using a custom video
                        provider that requires a passcode.
                      example: letmein
                  required:
                    - provider
                  nullable: true
                  description: >-
                    Set the details of a video call, if this appointment will be a video visit. By
                    default any appointment for an appointment type with `video_enabled: true` will
                    have a Source video call created when the appointment is created.


                    Members may not override the video call settings of an appointment, but users
                    and API keys are able to set `provider: 'source'` to create a Source-managed
                    call, or provide the details of a third-party video call.


                    It is not possible to modify the video call provider of an appointment, once
                    set.
              required:
                - appointment_type
                - time_zone
                - start_at
                - participants
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/appointment"
      x-methodName: create
      x-belongsToResource: appointment
    get:
      summary: List all Appointments
      description: >-
        List all appointments in a given time range, or for a given set of participants.


        By default, this method will not return canceled appointments. You can optionally specify
        include_canceled to true in order to include canceled appointments.
      tags:
        - Appointment
      parameters:
        - in: query
          style: form
          explode: true
          name: ending_before
          schema:
            type: string
            description:
              A cursor for use in pagination. `ending_before` is an object ID that defines your
              place in the list. For instance, if you make a list request and receive 100 objects,
              starting with obj_bar, your subsequent call can include ending_before=obj_bar in order
              to fetch the previous page of the list.
          required: false
          description:
            A cursor for use in pagination. `ending_before` is an object ID that defines your place
            in the list. For instance, if you make a list request and receive 100 objects, starting
            with obj_bar, your subsequent call can include ending_before=obj_bar in order to fetch
            the previous page of the list.
        - in: query
          style: form
          explode: true
          name: starting_after
          schema:
            type: string
            description:
              A cursor for use in pagination. `starting_after` is an object ID that defines your
              place in the list. For instance, if you make a list request and receive 100 objects,
              ending with obj_foo, your subsequent call can include starting_after=obj_foo in order
              to fetch the next page of the list.
          required: false
          description:
            A cursor for use in pagination. `starting_after` is an object ID that defines your place
            in the list. For instance, if you make a list request and receive 100 objects, ending
            with obj_foo, your subsequent call can include starting_after=obj_foo in order to fetch
            the next page of the list.
        - in: query
          style: form
          explode: true
          name: limit
          schema:
            type: number
            minimum: 1
            maximum: 100
            description:
              A limit on the number of objects to be returned. Limit can range between 1 and 100.
          required: false
          description:
            A limit on the number of objects to be returned. Limit can range between 1 and 100.
        - in: query
          style: form
          explode: true
          name: sort
          schema:
            type: string
            enum:
              - start_at
              - end_at
              - created_at
              - -start_at
              - -end_at
              - -created_at
            description:
              Sort field for the results. A '-' prefix indicates sorting by that field in descending
              order, otherwise the order will be ascending.
            example: start_at
          required: false
          description:
            Sort field for the results. A '-' prefix indicates sorting by that field in descending
            order, otherwise the order will be ascending.
        - in: query
          style: form
          explode: true
          name: status
          schema:
            type: array
            items:
              type: string
              enum:
                - booked
                - canceled
            description: Filter appointments by their status. You may provide multiple statuses.
          required: false
          description: Filter appointments by their status. You may provide multiple statuses.
        - in: query
          style: form
          explode: true
          name: member
          schema:
            type: array
            items:
              type: string
              example: mem_5QW8j1oKqQjNaPk4Hv3f
            description:
              Filter appointments by the member. This parameter is inferred when called as a member.
          required: false
          description:
            Filter appointments by the member. This parameter is inferred when called as a member.
        - in: query
          style: form
          explode: true
          name: participant
          schema:
            type: array
            items:
              type: string
              example: usr_qoGndHzx8KwdYsEByt9X
            description:
              Filter appointments by their participants. Participants must be provided as a list of
              user identifiers.
          required: false
          description:
            Filter appointments by their participants. Participants must be provided as a list of
            user identifiers.
        - in: query
          style: form
          explode: true
          name: type
          schema:
            type: array
            items:
              type: string
            description:
              Filter appointments by their type. You may provide appointment type identifiers or
              keys.
          required: false
          description:
            Filter appointments by their type. You may provide appointment type identifiers or keys.
        - in: query
          style: form
          explode: true
          name: start_at
          schema:
            type: object
            properties:
              lt:
                type: string
                format: date-time
                description: Return results where the start_at field is less than this value.
              lte:
                type: string
                format: date-time
                description:
                  Return results where the start_at field is less than or equal to this value.
              gt:
                type: string
                format: date-time
                description: Return results where the start_at field is greater than this value.
              gte:
                type: string
                format: date-time
                description:
                  Return results where the start_at field is greater than or equal to this value.
            description: "A time based range filter on the list based on the object start_at field.
              For example `?start_at[gt]=2021-05-10T16:51:38.075Z&start_at[lte]=2021-05-26T\
              16:51:38.075Z`. The value is a dictionary with the following:"
          required: false
          description: "A time based range filter on the list based on the object start_at field.
            For example `?start_at[gt]=2021-05-10T16:51:38.075Z&start_at[lte]=2021-05-26T16\
            :51:38.075Z`. The value is a dictionary with the following:"
        - in: query
          style: form
          explode: true
          name: end_at
          schema:
            type: object
            properties:
              lt:
                type: string
                format: date-time
                description: Return results where the end_at field is less than this value.
              lte:
                type: string
                format: date-time
                description:
                  Return results where the end_at field is less than or equal to this value.
              gt:
                type: string
                format: date-time
                description: Return results where the end_at field is greater than this value.
              gte:
                type: string
                format: date-time
                description:
                  Return results where the end_at field is greater than or equal to this value.
            description: "A time based range filter on the list based on the object end_at field.
              For example `?end_at[gt]=2021-05-10T16:51:38.075Z&end_at[lte]=2021-05-26T16:5\
              1:38.075Z`. The value is a dictionary with the following:"
          required: false
          description: "A time based range filter on the list based on the object end_at field. For
            example `?end_at[gt]=2021-05-10T16:51:38.075Z&end_at[lte]=2021-05-26T16:51:\
            38.075Z`. The value is a dictionary with the following:"
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    default: list
                    enum:
                      - list
                    example: list
                    description: Always `list`.
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/appointment"
                    description: Array of results
                  has_more:
                    type: boolean
                    description: Contains `true` if there is another page of results available.
                required:
                  - object
                  - data
                  - has_more
      x-methodName: list
      x-belongsToResource: appointment
  "/v1/scheduling/appointments/{id}":
    post:
      summary: Update an Appointment
      description: >-
        Updates an appointment in Source.


        Parameters that are omitted from this endpoint will be left untouched. When changing the
        time of an appointment, you can provide an updated start_at and duration. If you omit one of
        these two, it will be inferred from the current state of the event.


        When adding participants to an existing appointment, Source will only perform conflict
        checks on the newly added participants, ignoring any potential conflicts for participants
        who are already on the appointment. You may bypass this check by setting the
        skip_constraintss param to true.
      tags:
        - Appointment
      parameters:
        - in: path
          style: simple
          explode: true
          name: id
          schema:
            type: string
            example: appt_mTvufYJBBgYmbEAEZ6rE
            description: Unique ID of the appointment.
          required: true
          description: Unique ID of the appointment.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                time_zone:
                  type: string
                  description:
                    Time zone in which the appointment should be scheduled. Changing this value has
                    no impact on the actual time of the appointment, which is always provided in
                    UTC. However, this value may be used when formatting the appointment time for
                    representation, and recalculating the UTC time in the event of a time zone rule
                    change.
                  example: America/New_York
                start_at:
                  type: string
                  format: date-time
                  description:
                    Start time for this appointment. Appointments can be created which start in the
                    past, if you want to record an appointment that has already occured. Appointment
                    times must always be provided in UTC, regardless of the value of the time_zone
                    property.
                  example: 2021-05-13T16:33:00.000Z
                duration:
                  type: number
                  maximum: 1440
                  description:
                    The duration of the appointment, in minutes. If no duration is provided, it will
                    be automatically determined based on the appointment type provided.
                  example: 30
                end_at:
                  type: string
                  format: date-time
                  description:
                    End time for this appointment. When creating an appointment, you can optionally
                    specify either a duration or an end date. If both are specified, the end_at
                    timestamp will take precedence. If neither are provided, the appointment type's
                    default duration will be used.
                  example: 2021-05-13T16:33:00.000Z
                subject:
                  type: string
                  maxLength: 255
                  nullable: true
                  description:
                    Subject of this appointment. This will be shown to all participants. It may also
                    be transmitted via email or SMS, so it should not include PHI.
                  example: Pre-Op Check-In
                instructions:
                  type: string
                  maxLength: 1024
                  nullable: true
                  description:
                    Member instructions for the appointment, which will be shared in advance. It may
                    also be transmitted via email or SMS, so it should not include PHI.
                  example: Please fast for 12 hours prior to your appointment
                participants:
                  type: array
                  items:
                    type: object
                    properties:
                      participant:
                        type: string
                        example: usr_qoGndHzx8KwdYsEByt9X
                        description:
                          The participant to include on this appointment. Must be a valid user
                          identifier.
                    required:
                      - participant
                  description:
                    The participants that should be included on this appointment. At least one
                    participant is required.
                skip_constraints:
                  type: boolean
                  description: >-
                    By default, Source runs a number of checks to prevent you from creating
                    appointments that seem unsafe. For example, we prevent you from creating
                    appointments that take place in the past, from creating appointments outside of
                    the bookable window for an appointment type, from creating appointments that
                    require licensure with unlicensed participants, or from creating appointments
                    during which one of the participants has a conflict.


                    When calling the appointments endpoints with your API key, you can override this
                    behavior by setting the skip_constraints param to true, allowing you to create
                    your appointment. Note that some checks, such as ensuring the appointment end
                    time is after the start time, cannot be bypassed.


                    Member tokens are unable to provide this parameter, and will receive a
                    permissions error if they attempt to.
                video_call:
                  type: object
                  properties:
                    provider:
                      type: string
                      enum:
                        - custom
                        - source
                      description:
                        The video call provider. Source automatically generates video call links for
                        every appointment type that is configured to do so. Alternatively, you can
                        use the value `custom` to provide your own video call link.  When providing
                        `custom`, you must provide a join URL and can optionally include a token or
                        passcode.
                      example: custom
                    join_url:
                      type: string
                      nullable: true
                      description:
                        The URL to access the video call. Anyone with this link will be able to
                        request to join this video call, so you should ensure it is kept safe. Only
                        for 'custom' video calls - for 'source' video calls, we generate the join
                        URL.
                      example: https://video-provider.example.com/?join=eeh4Eec1ahBoquohshe1fooh
                    passcode:
                      type: string
                      nullable: true
                      description:
                        Passcode used when joining the call. This value is not used for
                        Source-generated video calls, but it may be used if using a custom video
                        provider that requires a passcode.
                      example: letmein
                  required:
                    - provider
                  nullable: true
                  description: >-
                    Set the details of a video call, if this appointment will be a video visit. By
                    default any appointment for an appointment type with `video_enabled: true` will
                    have a Source video call created when the appointment is created.


                    Members may not override the video call settings of an appointment, but users
                    and API keys are able to set `provider: 'source'` to create a Source-managed
                    call, or provide the details of a third-party video call.


                    It is not possible to modify the video call provider of an appointment, once
                    set.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/appointment"
      x-methodName: update
      x-belongsToResource: appointment
    get:
      summary: Retrieve an Appointment
      description: >-
        Retrieves an existing appointment by its unique identifier.


        Appointments can be accessed by users in your organization. Additionally, members can access
        their own appointments provided that they've been added as a participant.
      tags:
        - Appointment
      parameters:
        - in: path
          style: simple
          explode: true
          name: id
          schema:
            type: string
            example: appt_mTvufYJBBgYmbEAEZ6rE
            description: Unique ID of the appointment.
          required: true
          description: Unique ID of the appointment.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/appointment"
      x-methodName: retrieve
      x-belongsToResource: appointment
  "/v1/scheduling/appointments/{id}/cancel":
    post:
      summary: Cancel an Appointment
      description: >-
        Cancels an existing appointment.


        Canceled appointments will not show up by default when listing appointments, but they can be
        optionally requested. Appointments must be canceled before they can be deleted. Once an
        appointment is canceled, it can no longer be modified.
      tags:
        - Appointment
      parameters:
        - in: path
          style: simple
          explode: true
          name: id
          schema:
            type: string
            example: appt_mTvufYJBBgYmbEAEZ6rE
            description: Unique ID of the appointment.
          required: true
          description: Unique ID of the appointment.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/appointment"
      x-methodName: cancel
      x-belongsToResource: appointment
  /v1/scheduling/appointment_types:
    post:
      summary: Create an Appointment Type
      description: >-
        Creates a new appointment type on Source.


        After creating an appointment type, you can use the availability endpoints to begin
        searching your team and scheduling them.
      tags:
        - Appointment Type
        - Preview
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  type: string
                  minLength: 1
                  maxLength: 255
                  pattern: ^[a-z0-9_-]+$
                  description:
                    Unique key for this appointment type. You can use this when creating
                    appointments via the API.
                  example: intake_visit
                name:
                  type: string
                  minLength: 1
                  maxLength: 255
                  description:
                    Name of this appointment type. This will be visible to members when booking
                    appointments, and to users when using the Source UI.
                  example: Intake Visit
                description:
                  type: string
                  maxLength: 1024
                  nullable: true
                  description:
                    A few sentence description of this appointment type. This description will be
                    shown to members when attempting to book an appointment of this type. While not
                    required, it can be helpful to share what the member might expect to happen
                    during this appointment or any resources thay should bring.
                  example: Meet with your new care team and complete a baseline visit
                default_instructions:
                  type: string
                  maxLength: 1024
                  nullable: true
                  description:
                    The default instructions that should be provided to members when booking this
                    type of appointment. When creating appointments via the API, these instructions
                    will automatically be applied to the appointment unless overriden. Members are
                    not able to change the instructions on an appointment when creating one, and
                    will also receive this set of instructions by default.
                  example: Please fast for 12 hours before your visit.
                color:
                  type: string
                  enum:
                    - gray
                    - blue
                    - teal
                    - yellow
                    - green
                    - red
                    - orange
                    - purple
                  description:
                    The color used when showing appointments of this type on the calendar. This is
                    primarily used in the Source UI, but you're able to use this in your own system
                    as well. If no color is set, it will default to gray.
                  example: blue
                duration:
                  type: number
                  minimum: 5
                  maximum: 1440
                  description:
                    The default duration to apply to appointments of this type. Default durations
                    must be in multiples of 5 minutes. For example, 5 and 10 are valid durations,
                    but 6 and 14 are not. Always measured in minutes. Defaults to 30.
                  example: 30
                slot_interval:
                  type: number
                  minimum: 5
                  maximum: 1440
                  description:
                    The interval between two bookable slots for appointments of this type. Like
                    durations, intervals must also be in multiples of 5 minutes. Always measured in
                    minutes. Defaults to 15.
                  example: 15
                bookable:
                  type: boolean
                  description:
                    Whether or not this appointment can be booked directly by a member. If set to
                    false, this appointment can only be scheduled by a user. Note that appointment
                    types with bookable set to false are still visible to members, as they may still
                    have an appointment of that type scheduled. As a result, this does not function
                    as a security or privacy control. Defaults to true.
                  example: false
                buffer_before:
                  type: number
                  minimum: 0
                  maximum: 60
                  description:
                    Provides an additional buffer of time before an appointment to prepare. Buffers
                    do not change the appointment duration, but rather make the participants appear
                    "busy" for a certain amount of time before the appointment begins. Measured in
                    minutes. Must not be greater than 60 minutes.
                  example: 0
                buffer_after:
                  type: number
                  minimum: 0
                  maximum: 60
                  description:
                    Provides an additional buffer of time after an appointment to wrap up. Buffers
                    do not change the appointment duration, but rather make the participants appear
                    "busy" for a certain amount of time after the appointment ends. Measured in
                    minutes. Must not be greater than 60 minutes.
                  example: 5
                planning_horizon:
                  type: number
                  minimum: 0
                  nullable: true
                  description:
                    Controls how far in the future appointments can be booked. By default,
                    appointment types have a 60 day planning horizon. You can extend this if you'd
                    like members to be able to book appointments farther in the future. Setting to
                    null disables the planning horizon limit, and allows an appointment to be
                    created indefinitely into the future. Measured in days.
                  example: 60
                minimum_notice:
                  type: number
                  minimum: 0
                  description:
                    Controls the minimum amount of advance notice in order to book appointments of
                    this type. For example, if this parameter is set to 60, members will only be
                    able to book appointments starting at least 60 minutes from now. This option is
                    only considered when members are booking appointments directly. Users can book
                    appointments at any time, including appointments in the past. Measured in
                    minutes.
                  example: 60
                routing_strategy:
                  type: string
                  enum:
                    - care_team_required
                    - care_team_preferred
                    - care_team_hybrid
                    - round_robin
                  description: >-
                    Defines how an incoming slot availability query for the appointment type should
                    be routed to possible users. Because of the complexity in routing, it's best
                    explained by example. Assume you have created an appointment type that can be
                    fulfilled by users in the Physicians group. The behavior of each routing
                    strategy is as follows:


                    - care_team_required - Appointment slots will only be shown for Physicians who
                    are on the member's care team. If there are   no Physicians on the member's care
                    team, the request will fail.


                    - care_team_preferred - Appointment slots will be shown for any Physicians on
                    the member's care team.   If the Physicians on the care team aren't available,
                    slots will not be returned.   If there are no Physicians on the member's care
                    team, then slots will be returned for any available Physician.


                    - care_team_hybrid - Appointment slots will be shown for all users in the
                    Physicians group. For any given appointment slot,   if a Physician of the
                    member's care team is available, they will be preferred. However, slots for
                    other Physicians will   still be shown.


                    - round_robin - Appointment slots will be shown for all users in the Physicians
                    group, and no preference will be given to   users who are also on the member's
                    care team.


                    By default, Source uses the care_team_preferred strategy to provide continuity
                    of care and ensure patients have a consistent experience. However, this is not
                    always the right booking strategy for all practices. In fact, even for a single
                    practice, you may sometimes need to reach for another routing method.


                    If you have a need for a routing model that isn't covered above, please don't
                    hesitate to reach out to our team.
                  example: care_team_preferred
                groups:
                  type: array
                  items:
                    type: string
                    example: grp_IlGhgsstvgsagl6lV89Q
                  description:
                    Select the groups that should be evaluated when booking an appointment. If no
                    group is specified, you will not be able to use the appointment slot API to find
                    bookable slots. When using the appointment slot API, you can specify more
                    specific users and groups. For example, if your appointment type is linked to
                    the group "Physicians," and when calling the slot API you provide an include
                    parameter for the group "Nurses," you only receive available slots for users who
                    are in both the Physicians and Nurses group.
                  example:
                    - grp_IlGhgsstvgsagl6lV89Q
                license_types:
                  type: array
                  items:
                    type: object
                    properties:
                      code:
                        type: string
                    required:
                      - code
                  nullable: true
                  description:
                    The user license(s) that are required to perform appointments of this type. When
                    looking for appointment slots, only the availability of licensed users will be
                    returned. When booking an appointment without the skip_constraints parameter,
                    any licensed user must have a matching license type, otherwise a warning will be
                    returned. If more than one license code is provided, a licensed user with any of
                    the license codes can participate in the appointment. Providing any value will
                    override the entire array. Providing null or an empty array will empty out the
                    array.
                  example:
                    - code: MD
                video_enabled:
                  type: boolean
                  description:
                    Whether or not to create a video call for appointments of this type. Defaults to
                    false.
                  example: true
              required:
                - key
                - name
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/appointment_type"
      x-methodName: create
      x-belongsToResource: appointment_type
    get:
      summary: List all Appointment Types
      description: Lists all available appointment types.
      tags:
        - Appointment Type
        - Preview
      parameters:
        - in: query
          style: form
          explode: true
          name: ending_before
          schema:
            type: string
            description:
              A cursor for use in pagination. `ending_before` is an object ID that defines your
              place in the list. For instance, if you make a list request and receive 100 objects,
              starting with obj_bar, your subsequent call can include ending_before=obj_bar in order
              to fetch the previous page of the list.
          required: false
          description:
            A cursor for use in pagination. `ending_before` is an object ID that defines your place
            in the list. For instance, if you make a list request and receive 100 objects, starting
            with obj_bar, your subsequent call can include ending_before=obj_bar in order to fetch
            the previous page of the list.
        - in: query
          style: form
          explode: true
          name: starting_after
          schema:
            type: string
            description:
              A cursor for use in pagination. `starting_after` is an object ID that defines your
              place in the list. For instance, if you make a list request and receive 100 objects,
              ending with obj_foo, your subsequent call can include starting_after=obj_foo in order
              to fetch the next page of the list.
          required: false
          description:
            A cursor for use in pagination. `starting_after` is an object ID that defines your place
            in the list. For instance, if you make a list request and receive 100 objects, ending
            with obj_foo, your subsequent call can include starting_after=obj_foo in order to fetch
            the next page of the list.
        - in: query
          style: form
          explode: true
          name: limit
          schema:
            type: number
            minimum: 1
            maximum: 100
            description:
              A limit on the number of objects to be returned. Limit can range between 1 and 100.
          required: false
          description:
            A limit on the number of objects to be returned. Limit can range between 1 and 100.
        - in: query
          style: form
          explode: true
          name: sort
          schema:
            type: string
            enum:
              - created_at
              - name
              - -created_at
              - -name
            description:
              Sort field for the results. A '-' prefix indicates sorting by that field in descending
              order, otherwise the order will be ascending.
            example: created_at
          required: false
          description:
            Sort field for the results. A '-' prefix indicates sorting by that field in descending
            order, otherwise the order will be ascending.
        - in: query
          style: form
          explode: true
          name: name
          schema:
            type: string
            description: Only return appointment types containing this substring. Case insensitive.
          required: false
          description: Only return appointment types containing this substring. Case insensitive.
        - in: query
          style: form
          explode: true
          name: key
          schema:
            type: string
            description:
              Only return appointment types with this key. Appointment type keys are unique, so when
              specifying a key through this param, you will only receive up to one appointment type.
          required: false
          description:
            Only return appointment types with this key. Appointment type keys are unique, so when
            specifying a key through this param, you will only receive up to one appointment type.
        - in: query
          style: form
          explode: true
          name: bookable
          schema:
            type: boolean
            description:
              When set to true, filter appointment types to only those which are bookable by a
              member.
          required: false
          description:
            When set to true, filter appointment types to only those which are bookable by a member.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    default: list
                    enum:
                      - list
                    example: list
                    description: Always `list`.
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/appointment_type"
                    description: Array of results
                  has_more:
                    type: boolean
                    description: Contains `true` if there is another page of results available.
                required:
                  - object
                  - data
                  - has_more
      x-methodName: list
      x-belongsToResource: appointment_type
  "/v1/scheduling/appointment_types/{id}":
    get:
      summary: Retrieve an Appointment Type
      description: Retrieve an appointment type by its unique identifier.
      tags:
        - Appointment Type
        - Preview
      parameters:
        - in: path
          style: simple
          explode: true
          name: id
          schema:
            type: string
            example: aptp_meYUvkuaI2akjnb5Kwt7
            description: Unique ID of the appointment_type.
          required: true
          description: Unique ID of the appointment_type.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/appointment_type"
      x-methodName: retrieve
      x-belongsToResource: appointment_type
    post:
      summary: Update an Appointment Type
      description: >-
        Updates an appointment type.


        Appointments are linked to appointment types in Source, so changes made to an appointment
        type will be visible on past appointments as well. However, some fields, such as the
        duration and location of the appointment, are copied at the time the appointment is created.
        Changing the duration of an appointment type will not change the duration of past
        appointments.
      tags:
        - Appointment Type
        - Preview
      parameters:
        - in: path
          style: simple
          explode: true
          name: id
          schema:
            type: string
            example: aptp_meYUvkuaI2akjnb5Kwt7
            description: Unique ID of the appointment_type.
          required: true
          description: Unique ID of the appointment_type.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  type: string
                  minLength: 1
                  maxLength: 255
                  pattern: ^[a-z0-9_-]+$
                  description:
                    Unique key for this appointment type. You can use this when creating
                    appointments via the API.
                  example: intake_visit
                name:
                  type: string
                  minLength: 1
                  maxLength: 255
                  description:
                    Name of this appointment type. This will be visible to members when booking
                    appointments, and to users when using the Source UI.
                  example: Intake Visit
                description:
                  type: string
                  maxLength: 1024
                  nullable: true
                  description:
                    A few sentence description of this appointment type. This description will be
                    shown to members when attempting to book an appointment of this type. While not
                    required, it can be helpful to share what the member might expect to happen
                    during this appointment or any resources thay should bring.
                  example: Meet with your new care team and complete a baseline visit
                default_instructions:
                  type: string
                  maxLength: 1024
                  nullable: true
                  description:
                    The default instructions that should be provided to members when booking this
                    type of appointment. When creating appointments via the API, these instructions
                    will automatically be applied to the appointment unless overriden. Members are
                    not able to change the instructions on an appointment when creating one, and
                    will also receive this set of instructions by default.
                  example: Please fast for 12 hours before your visit.
                color:
                  type: string
                  enum:
                    - gray
                    - blue
                    - teal
                    - yellow
                    - green
                    - red
                    - orange
                    - purple
                  description:
                    The color used when showing appointments of this type on the calendar. This is
                    primarily used in the Source UI, but you're able to use this in your own system
                    as well. If no color is set, it will default to gray.
                  example: blue
                duration:
                  type: number
                  minimum: 5
                  maximum: 1440
                  description:
                    The default duration to apply to appointments of this type. Default durations
                    must be in multiples of 5 minutes. For example, 5 and 10 are valid durations,
                    but 6 and 14 are not. Always measured in minutes. Defaults to 30.
                  example: 30
                slot_interval:
                  type: number
                  minimum: 5
                  maximum: 1440
                  description:
                    The interval between two bookable slots for appointments of this type. Like
                    durations, intervals must also be in multiples of 5 minutes. Always measured in
                    minutes. Defaults to 15.
                  example: 15
                bookable:
                  type: boolean
                  description:
                    Whether or not this appointment can be booked directly by a member. If set to
                    false, this appointment can only be scheduled by a user. Note that appointment
                    types with bookable set to false are still visible to members, as they may still
                    have an appointment of that type scheduled. As a result, this does not function
                    as a security or privacy control. Defaults to true.
                  example: false
                buffer_before:
                  type: number
                  minimum: 0
                  maximum: 60
                  description:
                    Provides an additional buffer of time before an appointment to prepare. Buffers
                    do not change the appointment duration, but rather make the participants appear
                    "busy" for a certain amount of time before the appointment begins. Measured in
                    minutes. Must not be greater than 60 minutes.
                  example: 0
                buffer_after:
                  type: number
                  minimum: 0
                  maximum: 60
                  description:
                    Provides an additional buffer of time after an appointment to wrap up. Buffers
                    do not change the appointment duration, but rather make the participants appear
                    "busy" for a certain amount of time after the appointment ends. Measured in
                    minutes. Must not be greater than 60 minutes.
                  example: 5
                planning_horizon:
                  type: number
                  minimum: 0
                  nullable: true
                  description:
                    Controls how far in the future appointments can be booked. By default,
                    appointment types have a 60 day planning horizon. You can extend this if you'd
                    like members to be able to book appointments farther in the future. Setting to
                    null disables the planning horizon limit, and allows an appointment to be
                    created indefinitely into the future. Measured in days.
                  example: 60
                minimum_notice:
                  type: number
                  minimum: 0
                  description:
                    Controls the minimum amount of advance notice in order to book appointments of
                    this type. For example, if this parameter is set to 60, members will only be
                    able to book appointments starting at least 60 minutes from now. This option is
                    only considered when members are booking appointments directly. Users can book
                    appointments at any time, including appointments in the past. Measured in
                    minutes.
                  example: 60
                routing_strategy:
                  type: string
                  enum:
                    - care_team_required
                    - care_team_preferred
                    - care_team_hybrid
                    - round_robin
                  description: >-
                    Defines how an incoming slot availability query for the appointment type should
                    be routed to possible users. Because of the complexity in routing, it's best
                    explained by example. Assume you have created an appointment type that can be
                    fulfilled by users in the Physicians group. The behavior of each routing
                    strategy is as follows:


                    - care_team_required - Appointment slots will only be shown for Physicians who
                    are on the member's care team. If there are   no Physicians on the member's care
                    team, the request will fail.


                    - care_team_preferred - Appointment slots will be shown for any Physicians on
                    the member's care team.   If the Physicians on the care team aren't available,
                    slots will not be returned.   If there are no Physicians on the member's care
                    team, then slots will be returned for any available Physician.


                    - care_team_hybrid - Appointment slots will be shown for all users in the
                    Physicians group. For any given appointment slot,   if a Physician of the
                    member's care team is available, they will be preferred. However, slots for
                    other Physicians will   still be shown.


                    - round_robin - Appointment slots will be shown for all users in the Physicians
                    group, and no preference will be given to   users who are also on the member's
                    care team.


                    By default, Source uses the care_team_preferred strategy to provide continuity
                    of care and ensure patients have a consistent experience. However, this is not
                    always the right booking strategy for all practices. In fact, even for a single
                    practice, you may sometimes need to reach for another routing method.


                    If you have a need for a routing model that isn't covered above, please don't
                    hesitate to reach out to our team.
                  example: care_team_preferred
                groups:
                  type: array
                  items:
                    type: string
                    example: grp_IlGhgsstvgsagl6lV89Q
                  description:
                    Select the groups that should be evaluated when booking an appointment. If no
                    group is specified, you will not be able to use the appointment slot API to find
                    bookable slots. When using the appointment slot API, you can specify more
                    specific users and groups. For example, if your appointment type is linked to
                    the group "Physicians," and when calling the slot API you provide an include
                    parameter for the group "Nurses," you only receive available slots for users who
                    are in both the Physicians and Nurses group.
                  example:
                    - grp_IlGhgsstvgsagl6lV89Q
                license_types:
                  type: array
                  items:
                    type: object
                    properties:
                      code:
                        type: string
                    required:
                      - code
                  nullable: true
                  description:
                    The user license(s) that are required to perform appointments of this type. When
                    looking for appointment slots, only the availability of licensed users will be
                    returned. When booking an appointment without the skip_constraints parameter,
                    any licensed user must have a matching license type, otherwise a warning will be
                    returned. If more than one license code is provided, a licensed user with any of
                    the license codes can participate in the appointment. Providing any value will
                    override the entire array. Providing null or an empty array will empty out the
                    array.
                  example:
                    - code: MD
                video_enabled:
                  type: boolean
                  description:
                    Whether or not to create a video call for appointments of this type. Defaults to
                    false.
                  example: true
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/appointment_type"
      x-methodName: update
      x-belongsToResource: appointment_type
    delete:
      summary: Delete an Appointment Type
      description: >-
        Deletes an appointment type from Source.


        Once an appointment type is deleted, it can no longer be used to schedule further
        appointments. It will still be visible on past appointments that used this type. You can
        delete an appontment type at any time.
      tags:
        - Appointment Type
        - Preview
      parameters:
        - in: path
          style: simple
          explode: true
          name: id
          schema:
            type: string
            example: aptp_meYUvkuaI2akjnb5Kwt7
            description: Unique ID of the appointment_type.
          required: true
          description: Unique ID of the appointment_type.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/appointment_type"
      x-methodName: delete
      x-belongsToResource: appointment_type
  "/v1/users/{user}/availability":
    get:
      summary: Retrieve a User Availability Schedule
      description: >-
        Retrieves the availability schedule for a user.


        Each user in Source has an availability schedule created for them by default. The
        availability schedules are unique for each environment, so test and live mode will have
        different availability objects.
      tags:
        - Availability
      parameters:
        - in: path
          style: simple
          explode: true
          name: user
          schema:
            type: string
            example: usr_qoGndHzx8KwdYsEByt9X
            description: Unique ID for the user.
          required: true
          description: Unique ID for the user.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/availability"
      x-methodName: retrieveForUser
      x-belongsToResource: availability
    post:
      summary: Update a User Availability Schedule
      description: >-
        Updates an availability schedule for a user.


        You'll need to update a user's availability schedule to make them bookable for appointments
        in Source.
      tags:
        - Availability
      parameters:
        - in: path
          style: simple
          explode: true
          name: user
          schema:
            type: string
            example: usr_qoGndHzx8KwdYsEByt9X
            description: Unique ID for the user.
          required: true
          description: Unique ID for the user.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rules:
                  type: array
                  items:
                    type: object
                    properties:
                      day:
                        type: number
                        minimum: 1
                        maximum: 7
                        description:
                          The day of the week to which this rule applies, as an ISO day of week. The
                          value of this property must be a number from 1 to 7, where 1 represents
                          Monday, and 7 represents Sunday.
                        example: 1
                      start:
                        type: string
                        format: time
                        description:
                          The start time of this rule. The value of this property is an ISO local
                          time, formatted as HH:mm, using 24 hour time. Valid values for the start
                          time of a rule range from 00:00 to 23:59.
                        example: 09:00
                      end:
                        type: string
                        format: time
                        description:
                          The end time of this rule. The value of this property is an ISO local
                          time, formatted as HH:mm, using 24 hour time. Unlike rule start times, end
                          times may range from 00:00 to 24:00, where 24:00 represents midnight at
                          the end of the day.
                        example: 17:00
                      appointment_types:
                        type: array
                        items:
                          type: string
                          example: aptp_meYUvkuaI2akjnb5Kwt7
                        description: >-
                          An optional set of appointment types that this availability rule is
                          restricted to. Only appointments of the specified types are bookable
                          during the period of this rule. Omitting this field or providing an empty
                          array implies the rule can accommodate booking any appointment type.


                          Rules are additive - when rules with different appointment type
                          restrictions overlap in time, the set of all allowed appointment types in
                          all overlapping rules may be booked during the overlap.
                    required:
                      - day
                      - start
                      - end
                  description:
                    The list of rules for this person's availability. Each rule defines a day of
                    week, start time, and end time of the rule. There may be multiple rules for a
                    single day of the week. When that happens, the rules represent multiple blocks
                    of times that the user is available in a given day. For example, you may be
                    available from 9am-12pm, break for lunch, and then be available 1pm-5pm. If two
                    availability blocks are provided on the same day which overlap with one another,
                    Source will merge those rules into one rule.
                overrides:
                  type: array
                  items:
                    type: object
                    properties:
                      date:
                        type: string
                        format: date
                        description:
                          The specific date of the override, specified as an ISO 8601 date string in
                          the format YYYY-mm-dd. There can only be one override object per date in
                          this list.
                        example: 2022-01-01
                      rules:
                        type: array
                        items:
                          type: object
                          properties:
                            start:
                              type: string
                              format: time
                              description:
                                The start time of this rule. The value of this property is an ISO
                                local time, formatted as HH:mm, using 24 hour time. Valid values for
                                the start time of a rule range from 00:00 to 23:59.
                              example: 09:00
                            end:
                              type: string
                              format: time
                              description:
                                The end time of this rule. The value of this property is an ISO
                                local time, formatted as HH:mm, using 24 hour time. Unlike rule
                                start times, end times may range from 00:00 to 24:00, where 24:00
                                represents midnight at the end of the day.
                              example: 17:00
                            appointment_types:
                              type: array
                              items:
                                type: string
                                example: aptp_meYUvkuaI2akjnb5Kwt7
                              description: >-
                                An optional set of appointment types that this override rule is
                                restricted to. Only appointments of the specified types are bookable
                                during the period of this override. Omitting this field or providing
                                an empty array implies the override can accommodate booking any
                                appointment type.


                                Appointment type constraints are additive - when overrides with
                                different appointment type restrictions overlap in time, the set of
                                all allowed appointment types in all overlapping rules may be booked
                                during the overlap.
                          required:
                            - start
                            - end
                    required:
                      - date
                      - rules
                  description:
                    Overrides to the availability rules for this schedule. Overrides are specific
                    dates on which the user's availability differs from their general rules. For
                    example, you may be available Monday through Friday 9am-5pm, but not available
                    on New Years Day.
                  example:
                    - date: 2022-01-01
                      rules: []
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/availability"
      x-methodName: updateForUser
      x-belongsToResource: availability
  "/v1/care_teams/{id}":
    post:
      summary: Update a Care Team
      description: >-
        Updates the specified care team by setting the values of the parameters passed.


        Any parameters not provided will be left unchanged. For example, if you pass the member
        parameter, that assigns the care team to the given member.
      tags:
        - Care Team
      parameters:
        - in: path
          style: simple
          explode: true
          name: id
          schema:
            type: string
            example: crtm_Ar5vww6wrniLv8ubdP4A
            description: Unique ID of the care_team.
          required: true
          description: Unique ID of the care_team.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                participants:
                  type: array
                  items:
                    type: object
                    properties:
                      user:
                        type: string
                        example: usr_NC6MQ3FyxddKoJJpfSVL
                        description:
                          Unique ID of the user to add to the care team. The user must have a care
                          team role defined.
                    required:
                      - user
                  description: List of users to put on the care team.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/care_team"
      x-methodName: update
      x-belongsToResource: care_team
    get:
      summary: Retrieve a Care Team
      description:
        Retrieves the details of an existing care team. You need only supply the unique care team
        identifier that was returned upon creation, or that is associated with a particular member
        (see the `care_team` property in the [Member](/docs/api/reference/member/) object).
      tags:
        - Care Team
      parameters:
        - in: path
          style: simple
          explode: true
          name: id
          schema:
            type: string
            example: crtm_Ar5vww6wrniLv8ubdP4A
            description: Unique ID of the care_team.
          required: true
          description: Unique ID of the care_team.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/care_team"
      x-methodName: retrieve
      x-belongsToResource: care_team
  /v1/care_team_roles:
    post:
      summary: Create a Care Team Role
      description:
        Creates a care team role, which will describe the purpose of each participant on a member's
        care team. You can use care team roles to control how tasks are routed among the care team.
      tags:
        - Care Team Role
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 255
                  description: Public display name for this care team role
                  example: Physician
              required:
                - name
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/care_team_role"
      x-methodName: create
      x-belongsToResource: care_team_role
    get:
      summary: List all Care Team Roles
      description: >-
        Returns a list of care team roles within the current account.


        The roles returned are sorted by creation date, sorted alphabetically by name.
      tags:
        - Care Team Role
      parameters:
        - in: query
          style: form
          explode: true
          name: ending_before
          schema:
            type: string
            description:
              A cursor for use in pagination. `ending_before` is an object ID that defines your
              place in the list. For instance, if you make a list request and receive 100 objects,
              starting with obj_bar, your subsequent call can include ending_before=obj_bar in order
              to fetch the previous page of the list.
          required: false
          description:
            A cursor for use in pagination. `ending_before` is an object ID that defines your place
            in the list. For instance, if you make a list request and receive 100 objects, starting
            with obj_bar, your subsequent call can include ending_before=obj_bar in order to fetch
            the previous page of the list.
        - in: query
          style: form
          explode: true
          name: starting_after
          schema:
            type: string
            description:
              A cursor for use in pagination. `starting_after` is an object ID that defines your
              place in the list. For instance, if you make a list request and receive 100 objects,
              ending with obj_foo, your subsequent call can include starting_after=obj_foo in order
              to fetch the next page of the list.
          required: false
          description:
            A cursor for use in pagination. `starting_after` is an object ID that defines your place
            in the list. For instance, if you make a list request and receive 100 objects, ending
            with obj_foo, your subsequent call can include starting_after=obj_foo in order to fetch
            the next page of the list.
        - in: query
          style: form
          explode: true
          name: limit
          schema:
            type: number
            minimum: 1
            maximum: 100
            description:
              A limit on the number of objects to be returned. Limit can range between 1 and 100.
          required: false
          description:
            A limit on the number of objects to be returned. Limit can range between 1 and 100.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    default: list
                    enum:
                      - list
                    example: list
                    description: Always `list`.
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/care_team_role"
                    description: Array of results
                  has_more:
                    type: boolean
                    description: Contains `true` if there is another page of results available.
                required:
                  - object
                  - data
                  - has_more
      x-methodName: list
      x-belongsToResource: care_team_role
  "/v1/care_team_roles/{id}":
    get:
      summary: Retrieve a Care Team Role
      description:
        Retrieves the details of an existing care team role. You need only supply the unique care
        team role identifier that was returned upon creation.
      tags:
        - Care Team Role
      parameters:
        - in: path
          style: simple
          explode: true
          name: id
          schema:
            type: string
            example: ctr_Xrjh23QoCKx0PxrIOoou
            description: Unique ID of the care_team_role.
          required: true
          description: Unique ID of the care_team_role.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/care_team_role"
      x-methodName: retrieve
      x-belongsToResource: care_team_role
    post:
      summary: Update a Care Team Role
      description: >-
        Updates the specified care team role by setting the values of the parameters passed.


        Any parameters not provided will be left unchanged.
      tags:
        - Care Team Role
      parameters:
        - in: path
          style: simple
          explode: true
          name: id
          schema:
            type: string
            example: ctr_Xrjh23QoCKx0PxrIOoou
            description: Unique ID of the care_team_role.
          required: true
          description: Unique ID of the care_team_role.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 255
                  description: Public display name for this care team role
                  example: Physician
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/care_team_role"
      x-methodName: update
      x-belongsToResource: care_team_role
    delete:
      summary: Delete a Care Team Role
      description:
        Deletes the specified care team role. Roles that are currently assigned to users may not be
        deleted.
      tags:
        - Care Team Role
      parameters:
        - in: path
          style: simple
          explode: true
          name: id
          schema:
            type: string
            example: ctr_Xrjh23QoCKx0PxrIOoou
            description: Unique ID of the care_team_role.
          required: true
          description: Unique ID of the care_team_role.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/care_team_role"
      x-methodName: delete
      x-belongsToResource: care_team_role
  "/v1/devices/{id}":
    get:
      summary: Retrieve a Device
      description:
        Retrieves the details of an existing device. You need only supply the unique device
        identifier that was returned upon device creation.
      tags:
        - Device
      parameters:
        - in: path
          style: simple
          explode: true
          name: id
          schema:
            type: string
            example: dev_79Dek9tjwNUZqMWU576Q
            description: Unique ID of the device.
          required: true
          description: Unique ID of the device.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/device"
      x-methodName: retrieve
      x-belongsToResource: device
  /v1/devices:
    get:
      summary: List all Devices
      description:
        Returns a list of devices within the current account. The devices returned are sorted by
        creation date, with the most recently added devices appearing first.
      tags:
        - Device
      parameters:
        - in: query
          style: form
          explode: true
          name: ending_before
          schema:
            type: string
            description:
              A cursor for use in pagination. `ending_before` is an object ID that defines your
              place in the list. For instance, if you make a list request and receive 100 objects,
              starting with obj_bar, your subsequent call can include ending_before=obj_bar in order
              to fetch the previous page of the list.
          required: false
          description:
            A cursor for use in pagination. `ending_before` is an object ID that defines your place
            in the list. For instance, if you make a list request and receive 100 objects, starting
            with obj_bar, your subsequent call can include ending_before=obj_bar in order to fetch
            the previous page of the list.
        - in: query
          style: form
          explode: true
          name: starting_after
          schema:
            type: string
            description:
              A cursor for use in pagination. `starting_after` is an object ID that defines your
              place in the list. For instance, if you make a list request and receive 100 objects,
              ending with obj_foo, your subsequent call can include starting_after=obj_foo in order
              to fetch the next page of the list.
          required: false
          description:
            A cursor for use in pagination. `starting_after` is an object ID that defines your place
            in the list. For instance, if you make a list request and receive 100 objects, ending
            with obj_foo, your subsequent call can include starting_after=obj_foo in order to fetch
            the next page of the list.
        - in: query
          style: form
          explode: true
          name: limit
          schema:
            type: number
            minimum: 1
            maximum: 100
            description:
              A limit on the number of objects to be returned. Limit can range between 1 and 100.
          required: false
          description:
            A limit on the number of objects to be returned. Limit can range between 1 and 100.
        - in: query
          style: form
          explode: true
          name: member
          schema:
            type: string
            description: The ID of the member whose devices should be returned.
          required: false
          description: The ID of the member whose devices should be returned.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    default: list
                    enum:
                      - list
                    example: list
                    description: Always `list`.
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/device"
                    description: Array of results
                  has_more:
                    type: boolean
                    description: Contains `true` if there is another page of results available.
                required:
                  - object
                  - data
                  - has_more
      x-methodName: list
      x-belongsToResource: device
  "/v1/events/{id}":
    get:
      summary: Retrieve an Event
      description:
        Each event data is rendered according to Source API version at its creation
        time,       specified in event object api_version attribute (not according to your current
        Source       API version or Source-Version header).
      tags:
        - Event
      parameters:
        - in: path
          style: simple
          explode: true
          name: id
          schema:
            type: string
            example: evt_9wV0vJk7AIdew6qi6fAQ
            description: Unique ID of the event.
          required: true
          description: Unique ID of the event.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/event"
      x-methodName: retrieve
      x-belongsToResource: event
  /v1/events:
    get:
      summary: List all Events
      description:
        List all stored events. Each event data is rendered according to Source API       version at
        its creation time, specified in event object api_version attribute (not according       to
        your current Source API version or Source-Version header).
      tags:
        - Event
      parameters:
        - in: query
          style: form
          explode: true
          name: ending_before
          schema:
            type: string
            description:
              A cursor for use in pagination. `ending_before` is an object ID that defines your
              place in the list. For instance, if you make a list request and receive 100 objects,
              starting with obj_bar, your subsequent call can include ending_before=obj_bar in order
              to fetch the previous page of the list.
          required: false
          description:
            A cursor for use in pagination. `ending_before` is an object ID that defines your place
            in the list. For instance, if you make a list request and receive 100 objects, starting
            with obj_bar, your subsequent call can include ending_before=obj_bar in order to fetch
            the previous page of the list.
        - in: query
          style: form
          explode: true
          name: starting_after
          schema:
            type: string
            description:
              A cursor for use in pagination. `starting_after` is an object ID that defines your
              place in the list. For instance, if you make a list request and receive 100 objects,
              ending with obj_foo, your subsequent call can include starting_after=obj_foo in order
              to fetch the next page of the list.
          required: false
          description:
            A cursor for use in pagination. `starting_after` is an object ID that defines your place
            in the list. For instance, if you make a list request and receive 100 objects, ending
            with obj_foo, your subsequent call can include starting_after=obj_foo in order to fetch
            the next page of the list.
        - in: query
          style: form
          explode: true
          name: limit
          schema:
            type: number
            minimum: 1
            maximum: 100
            description:
              A limit on the number of objects to be returned. Limit can range between 1 and 100.
          required: false
          description:
            A limit on the number of objects to be returned. Limit can range between 1 and 100.
        - in: query
          style: form
          explode: true
          name: type
          schema:
            type: array
            items:
              type: string
            description:
              Filter results by event type. Repeat this parameter to filter by multiple event
              types,         e.g. `?type=member.created&type=member.updated`
          required: false
          description:
            Filter results by event type. Repeat this parameter to filter by multiple event
            types,         e.g. `?type=member.created&type=member.updated`
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    default: list
                    enum:
                      - list
                    example: list
                    description: Always `list`.
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/event"
                    description: Array of results
                  has_more:
                    type: boolean
                    description: Contains `true` if there is another page of results available.
                required:
                  - object
                  - data
                  - has_more
      x-methodName: list
      x-belongsToResource: event
  /v1/files:
    post:
      summary: Upload a File
      description: >-
        Uploads a file to Source by sending a `multipart/form-data` request containing the file to
        upload and any additional metadata.


        Files must be uploaded through the files API before they can be attached to messages, set as
        profile photos, or otherwise used by the Source platform.
      tags:
        - File
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description:
                    A file to upload. This field must be provided in a `multipart/form-data`
                    request.
                purpose:
                  type: string
                  enum:
                    - message_attachment
                    - photo
                    - user_profile_photo
                  description:
                    The purpose of the uploaded file. Each purpose imposes restrictions on supported
                    file types and use cases.
                  example: message_attachment
              required:
                - file
                - purpose
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/file"
      x-overrideRequestBodyCodec:
        options: {}
        props:
          file:
            options:
              description:
                A file to upload. This field must be provided in a `multipart/form-data` request.
            _tag: FileCodec
          purpose:
            options:
              description:
                The purpose of the uploaded file. Each purpose imposes restrictions on supported
                file types and use cases.
              example: message_attachment
            enumObject:
              - message_attachment
              - photo
              - user_profile_photo
            _tag: EnumCodec
            enumValues:
              - message_attachment
              - photo
              - user_profile_photo
        _tag: ObjectCodec
        properties:
          - file
          - purpose
        requiredProperties:
          - file
          - purpose
      x-methodName: create
      x-belongsToResource: file
  "/v1/files/{id}":
    get:
      summary: Retrieve a File
      description:
        Retrieves the details of an existing file. You need only supply the unique file identifier
        that was returned upon file creation.
      tags:
        - File
      parameters:
        - in: path
          style: simple
          explode: true
          name: id
          schema:
            type: string
            example: file_0A9zrLzCO7KPcnIbs40e
            description: Unique ID of the file.
          required: true
          description: Unique ID of the file.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/file"
      x-methodName: retrieve
      x-belongsToResource: file
  /v1/groups:
    post:
      summary: Create a Group
      description:
        Creates a new group, which describes a function of a user. You can use groups alongside
        queues to control how tasks are routed among the care team.
      tags:
        - Group
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 255
                  description:
                    Public display name for this group. The name must be unique across all groups.
                  example: Physicians
                description:
                  type: string
                  maxLength: 4096
                  nullable: true
                  description: A description for this group.
                  example: null
              required:
                - name
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/group"
      x-methodName: create
      x-belongsToResource: group
    get:
      summary: List all Groups
      description: >-
        Returns a list of groups within the current account.


        The groups returned are sorted by creation date, with the most recently added group
        appearing first.
      tags:
        - Group
      parameters:
        - in: query
          style: form
          explode: true
          name: ending_before
          schema:
            type: string
            description:
              A cursor for use in pagination. `ending_before` is an object ID that defines your
              place in the list. For instance, if you make a list request and receive 100 objects,
              starting with obj_bar, your subsequent call can include ending_before=obj_bar in order
              to fetch the previous page of the list.
          required: false
          description:
            A cursor for use in pagination. `ending_before` is an object ID that defines your place
            in the list. For instance, if you make a list request and receive 100 objects, starting
            with obj_bar, your subsequent call can include ending_before=obj_bar in order to fetch
            the previous page of the list.
        - in: query
          style: form
          explode: true
          name: starting_after
          schema:
            type: string
            description:
              A cursor for use in pagination. `starting_after` is an object ID that defines your
              place in the list. For instance, if you make a list request and receive 100 objects,
              ending with obj_foo, your subsequent call can include starting_after=obj_foo in order
              to fetch the next page of the list.
          required: false
          description:
            A cursor for use in pagination. `starting_after` is an object ID that defines your place
            in the list. For instance, if you make a list request and receive 100 objects, ending
            with obj_foo, your subsequent call can include starting_after=obj_foo in order to fetch
            the next page of the list.
        - in: query
          style: form
[...]
