openapi: 3.0.0
info:
  version: "1.0"
  title: Source Health API
  description: The Source HTTP API
  contact:
    name: Source Support
    email: support@sourcehealth.com
    url: https://sourcehealth.com/docs/api
servers:
  - url: https://api.sourcehealth.com
    description: Source Production
security:
  - bearer: []
  - basic: []
tags: []
paths:
  "/v1/accounts/{id}":
    get:
      summary: Retrieve an Account
      description: >-
        Retrieves the details of an account.


        Supply the unique identifier of the account, or `current` to access your current account.
      tags:
        - Account
      parameters:
        - in: path
          style: simple
          explode: true
          name: id
          schema:
            type: string
            description: Unique ID of the account.
          required: true
          description: Unique ID of the account.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account"
      x-methodName: retrieve
      x-belongsToResource: account
    post:
      summary: Update an Account
      description: >-
        Updates an account. At this time you can only update the account name
        and subdomain.


        Any parameters that are not provided in the request will be left unchanged.
      tags:
        - Account
      parameters:
        - in: path
          style: simple
          explode: true
          name: id
          schema:
            type: string
            description: Unique ID of the account.
          required: true
          description: Unique ID of the account.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name for the account.
                  example: Source Health
                subdomain:
                  type: string
                  description: Subdomain for the account.
                  example: sourcehealth
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account"
      x-methodName: update
      x-belongsToResource: account
  "/v1/care_teams/{id}":
    post:
      summary: Update a Care Team
      description: >-
        Updates the specified care team by setting the values of the parameters
        passed.


        Any parameters not provided will be left unchanged. For example, if you pass the member parameter, that assigns the care team to the given member.
      tags:
        - Care Team
      parameters:
        - in: path
          style: simple
          explode: true
          name: id
          schema:
            type: string
            description: Unique ID of the care_team.
          required: true
          description: Unique ID of the care_team.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                participants:
                  type: array
                  items:
                    type: object
                    properties:
                      user:
                        type: string
                        description: Unique ID of the user to add to the care team. The user must have a
                          care team role defined.
                        example: usr_NC6MQ3FyxddKoJJpfSVL
                    required:
                      - user
                  description: List of users to put on the care team.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/care_team"
      x-methodName: update
      x-belongsToResource: care_team
    get:
      summary: Retrieve a Care Team
      description: Retrieves the details of an existing care team. You need only
        supply the unique care team identifier that was returned upon creation.
      tags:
        - Care Team
      parameters:
        - in: path
          style: simple
          explode: true
          name: id
          schema:
            type: string
            description: Unique ID of the care_team.
          required: true
          description: Unique ID of the care_team.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/care_team"
      x-methodName: retrieve
      x-belongsToResource: care_team
  /v1/care_team_roles:
    post:
      summary: Create a Care Team Role
      description: Creates a care team role, which will describe the purpose of each
        participant on a member's care team. You can use care team roles to
        control how tasks are routed among the care team.
      tags:
        - Care Team Role
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 255
                  description: Public display name for this care team role
                  example: Physician
              required:
                - name
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/care_team_role"
      x-methodName: create
      x-belongsToResource: care_team_role
    get:
      summary: List all Care Team Roles
      description: >-
        Returns a list of care team roles within the current account.


        The roles returned are sorted by creation date, sorted alphabetically by name.
      tags:
        - Care Team Role
      parameters:
        - in: query
          style: form
          explode: true
          name: ending_before
          schema:
            type: string
            description: A cursor for use in pagination. `ending_before` is an object ID
              that defines your place in the list. For instance, if you make a
              list request and receive 100 objects, starting with obj_bar, your
              subsequent call can include ending_before=obj_bar in order to
              fetch the previous page of the list.
          required: false
          description: A cursor for use in pagination. `ending_before` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, starting with obj_bar, your
            subsequent call can include ending_before=obj_bar in order to fetch
            the previous page of the list.
        - in: query
          style: form
          explode: true
          name: starting_after
          schema:
            type: string
            description: A cursor for use in pagination. `starting_after` is an object ID
              that defines your place in the list. For instance, if you make a
              list request and receive 100 objects, ending with obj_foo, your
              subsequent call can include starting_after=obj_foo in order to
              fetch the next page of the list.
          required: false
          description: A cursor for use in pagination. `starting_after` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, ending with obj_foo, your
            subsequent call can include starting_after=obj_foo in order to fetch
            the next page of the list.
        - in: query
          style: form
          explode: true
          name: limit
          schema:
            type: number
            minimum: 1
            maximum: 100
            description: A limit on the number of objects to be returned. Limit can range
              between 1 and 100.
          required: false
          description: A limit on the number of objects to be returned. Limit can range
            between 1 and 100.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    default: list
                    enum:
                      - list
                    example: list
                    description: Always `list`.
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/care_team_role"
                    description: Array of results
                  has_more:
                    type: boolean
                    description: Contains `true` if there is another page of results available.
                required:
                  - object
                  - data
                  - has_more
      x-methodName: list
      x-belongsToResource: care_team_role
  "/v1/care_team_roles/{id}":
    get:
      summary: Retrieve a Care Team Role
      description: Retrieves the details of an existing care team role. You need only
        supply the unique care team role identifier that was returned upon
        creation.
      tags:
        - Care Team Role
      parameters:
        - in: path
          style: simple
          explode: true
          name: id
          schema:
            type: string
            description: Unique ID of the care_team_role.
          required: true
          description: Unique ID of the care_team_role.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/care_team_role"
      x-methodName: retrieve
      x-belongsToResource: care_team_role
    post:
      summary: Update a Care Team Role
      description: >-
        Updates the specified care team role by setting the values of the
        parameters passed.


        Any parameters not provided will be left unchanged.
      tags:
        - Care Team Role
      parameters:
        - in: path
          style: simple
          explode: true
          name: id
          schema:
            type: string
            description: Unique ID of the care_team_role.
          required: true
          description: Unique ID of the care_team_role.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 255
                  description: Public display name for this care team role
                  example: Physician
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/care_team_role"
      x-methodName: update
      x-belongsToResource: care_team_role
    delete:
      summary: Delete a Care Team Role
      description: Deletes the specified care team role. Roles that are currently
        assigned to users may not be deleted.
      tags:
        - Care Team Role
      parameters:
        - in: path
          style: simple
          explode: true
          name: id
          schema:
            type: string
            description: Unique ID of the care_team_role.
          required: true
          description: Unique ID of the care_team_role.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/care_team_role"
      x-methodName: delete
      x-belongsToResource: care_team_role
  "/v1/devices/{id}":
    get:
      summary: Retrieve a Device
      description: Retrieves the details of an existing device. You need only supply
        the unique device identifier that was returned upon device creation.
      tags:
        - Device
      parameters:
        - in: path
          style: simple
          explode: true
          name: id
          schema:
            type: string
            description: Unique ID of the device.
          required: true
          description: Unique ID of the device.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/device"
      x-methodName: retrieve
      x-belongsToResource: device
  /v1/devices:
    get:
      summary: List all Devices
      description: Returns a list of devices within the current account. The devices
        returned are sorted by creation date, with the most recently added
        devices appearing first.
      tags:
        - Device
      parameters:
        - in: query
          style: form
          explode: true
          name: ending_before
          schema:
            type: string
            description: A cursor for use in pagination. `ending_before` is an object ID
              that defines your place in the list. For instance, if you make a
              list request and receive 100 objects, starting with obj_bar, your
              subsequent call can include ending_before=obj_bar in order to
              fetch the previous page of the list.
          required: false
          description: A cursor for use in pagination. `ending_before` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, starting with obj_bar, your
            subsequent call can include ending_before=obj_bar in order to fetch
            the previous page of the list.
        - in: query
          style: form
          explode: true
          name: starting_after
          schema:
            type: string
            description: A cursor for use in pagination. `starting_after` is an object ID
              that defines your place in the list. For instance, if you make a
              list request and receive 100 objects, ending with obj_foo, your
              subsequent call can include starting_after=obj_foo in order to
              fetch the next page of the list.
          required: false
          description: A cursor for use in pagination. `starting_after` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, ending with obj_foo, your
            subsequent call can include starting_after=obj_foo in order to fetch
            the next page of the list.
        - in: query
          style: form
          explode: true
          name: limit
          schema:
            type: number
            minimum: 1
            maximum: 100
            description: A limit on the number of objects to be returned. Limit can range
              between 1 and 100.
          required: false
          description: A limit on the number of objects to be returned. Limit can range
            between 1 and 100.
        - in: query
          style: form
          explode: true
          name: member
          schema:
            type: string
            description: The ID of the member whose devices should be returned.
          required: false
          description: The ID of the member whose devices should be returned.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    default: list
                    enum:
                      - list
                    example: list
                    description: Always `list`.
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/device"
                    description: Array of results
                  has_more:
                    type: boolean
                    description: Contains `true` if there is another page of results available.
                required:
                  - object
                  - data
                  - has_more
      x-methodName: list
      x-belongsToResource: device
  "/v1/events/{id}":
    get:
      summary: Retrieve an Event
      description: Each event data is rendered according to Source API version at its
        creation time,       specified in event object api_version attribute
        (not according to your current Source       API version or
        Source-Version header).
      tags: []
      parameters:
        - in: path
          style: simple
          explode: true
          name: id
          schema:
            type: string
            description: Unique ID of the event.
          required: true
          description: Unique ID of the event.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/event"
      x-methodName: retrieve
      x-belongsToResource: event
  /v1/events:
    get:
      summary: List all Events
      description: List all stored events. Each event data is rendered according to
        Source API       version at its creation time, specified in event object
        api_version attribute (not according       to your current Source API
        version or Source-Version header).
      tags: []
      parameters:
        - in: query
          style: form
          explode: true
          name: ending_before
          schema:
            type: string
            description: A cursor for use in pagination. `ending_before` is an object ID
              that defines your place in the list. For instance, if you make a
              list request and receive 100 objects, starting with obj_bar, your
              subsequent call can include ending_before=obj_bar in order to
              fetch the previous page of the list.
          required: false
          description: A cursor for use in pagination. `ending_before` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, starting with obj_bar, your
            subsequent call can include ending_before=obj_bar in order to fetch
            the previous page of the list.
        - in: query
          style: form
          explode: true
          name: starting_after
          schema:
            type: string
            description: A cursor for use in pagination. `starting_after` is an object ID
              that defines your place in the list. For instance, if you make a
              list request and receive 100 objects, ending with obj_foo, your
              subsequent call can include starting_after=obj_foo in order to
              fetch the next page of the list.
          required: false
          description: A cursor for use in pagination. `starting_after` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, ending with obj_foo, your
            subsequent call can include starting_after=obj_foo in order to fetch
            the next page of the list.
        - in: query
          style: form
          explode: true
          name: limit
          schema:
            type: number
            minimum: 1
            maximum: 100
            description: A limit on the number of objects to be returned. Limit can range
              between 1 and 100.
          required: false
          description: A limit on the number of objects to be returned. Limit can range
            between 1 and 100.
        - in: query
          style: form
          explode: true
          name: type
          schema:
            type: array
            items:
              type: string
            description: Filter results by event type. Repeat this parameter to filter by
              multiple event types,         e.g.
              `?type=member.created&type=member.updated`
          required: false
          description: Filter results by event type. Repeat this parameter to filter by
            multiple event types,         e.g.
            `?type=member.created&type=member.updated`
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    default: list
                    enum:
                      - list
                    example: list
                    description: Always `list`.
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/event"
                    description: Array of results
                  has_more:
                    type: boolean
                    description: Contains `true` if there is another page of results available.
                required:
                  - object
                  - data
                  - has_more
      x-methodName: list
      x-belongsToResource: event
  /v1/files:
    post:
      summary: Upload a File
      description: >-
        Uploads a file to Source by sending a `multipart/form-data` request
        containing the file to upload and any additional metadata.


        Files must be uploaded through the files API before they can be attached to messages, set as profile photos, or otherwise used by the Source platform.
      tags:
        - File
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: A file to upload. This field must be provided in a
                    `multipart/form-data` request.
                purpose:
                  type: string
                  enum:
                    - message_attachment
                    - photo
                    - user_profile_photo
                  description: The purpose of the uploaded file. Each purpose imposes restrictions
                    on supported file types and use cases.
                  example: message_attachment
              required:
                - file
                - purpose
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/file"
      x-overrideRequestBodyCodec:
        options: {}
        props:
          file:
            options:
              description: A file to upload. This field must be provided in a
                `multipart/form-data` request.
            _tag: FileCodec
          purpose:
            options:
              description: The purpose of the uploaded file. Each purpose imposes restrictions
                on supported file types and use cases.
              example: message_attachment
            enumObject:
              - message_attachment
              - photo
              - user_profile_photo
            _tag: EnumCodec
            enumValues:
              - message_attachment
              - photo
              - user_profile_photo
        _tag: ObjectCodec
        properties:
          - file
          - purpose
        requiredProperties:
          - file
          - purpose
      x-methodName: create
      x-belongsToResource: file
  "/v1/files/{id}":
    get:
      summary: Retrieve a File
      description: Retrieves the details of an existing file. You need only supply the
        unique file identifier that was returned upon file creation.
      tags:
        - File
      parameters:
        - in: path
          style: simple
          explode: true
          name: id
          schema:
            type: string
            description: Unique ID of the file.
          required: true
          description: Unique ID of the file.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/file"
      x-methodName: retrieve
      x-belongsToResource: file
  /v1/measurements:
    post:
      summary: Create a Measurement
      description: Creates a measurement, which can be of kind `numeric` (with a
        single value) or     kind `composite` (with a collection of logically
        inseparable values (such as a     blood pressure reading). The shapes of
        these requests are different.
      tags:
        - Measurement
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
                - type: object
                  properties:
                    type:
                      type: string
                      enum:
                        - blood_pressure
                        - body_weight
                        - diastolic_blood_pressure
                        - heart_rate
                        - systolic_blood_pressure
                      description: Source measurement type to create.
                    device:
                      type: string
                      description: Device to which this measurement belongs.
                    member:
                      type: string
                      description: Member to which this measurement belongs.
                    time:
                      type: string
                      format: date-time
                      description: Timestamp that the measurement was taken.
                      example: 2021-05-13T16:33:00.000Z
                    kind:
                      type: string
                      default: composite
                      enum:
                        - composite
                      example: composite
                      description: Always `composite`.
                    items:
                      type: object
                      additionalProperties:
                        type: object
                        properties:
                          value:
                            type: string
                            description: Value for the measurement.
                          unit:
                            type: string
                            description: Unit that the measurement is reported in.
                        required:
                          - value
                          - unit
                      description: Items to be included in the composite measurement.
                  required:
                    - type
                    - device
                    - member
                    - time
                    - kind
                    - items
                - type: object
                  properties:
                    type:
                      type: string
                      enum:
                        - blood_pressure
                        - body_weight
                        - diastolic_blood_pressure
                        - heart_rate
                        - systolic_blood_pressure
                      description: Source measurement type to create.
                    device:
                      type: string
                      description: Device to which this measurement belongs.
                    member:
                      type: string
                      description: Member to which this measurement belongs.
                    time:
                      type: string
                      format: date-time
                      description: Timestamp that the measurement was taken.
                      example: 2021-05-13T16:33:00.000Z
                    kind:
                      type: string
                      default: numeric
                      enum:
                        - numeric
                      example: numeric
                      description: Always `numeric`.
                    value:
                      type: string
                      description: Value for the measurement.
                    unit:
                      type: string
                      description: Unit that the measurement is reported in.
                  required:
                    - type
                    - device
                    - member
                    - time
                    - kind
                    - value
                    - unit
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/measurement"
      x-methodName: create
      x-belongsToResource: measurement
    get:
      summary: List all Measurements
      description: Lists all measurements for the current account. The measurements
        returned are sorted by     their timestamp, with the most recently
        created measurements appearing first.
      tags:
        - Measurement
      parameters:
        - in: query
          style: form
          explode: true
          name: ending_before
          schema:
            type: string
            description: A cursor for use in pagination. `ending_before` is an object ID
              that defines your place in the list. For instance, if you make a
              list request and receive 100 objects, starting with obj_bar, your
              subsequent call can include ending_before=obj_bar in order to
              fetch the previous page of the list.
          required: false
          description: A cursor for use in pagination. `ending_before` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, starting with obj_bar, your
            subsequent call can include ending_before=obj_bar in order to fetch
            the previous page of the list.
        - in: query
          style: form
          explode: true
          name: starting_after
          schema:
            type: string
            description: A cursor for use in pagination. `starting_after` is an object ID
              that defines your place in the list. For instance, if you make a
              list request and receive 100 objects, ending with obj_foo, your
              subsequent call can include starting_after=obj_foo in order to
              fetch the next page of the list.
          required: false
          description: A cursor for use in pagination. `starting_after` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, ending with obj_foo, your
            subsequent call can include starting_after=obj_foo in order to fetch
            the next page of the list.
        - in: query
          style: form
          explode: true
          name: limit
          schema:
            type: number
            minimum: 1
            maximum: 100
            description: A limit on the number of objects to be returned. Limit can range
              between 1 and 100.
          required: false
          description: A limit on the number of objects to be returned. Limit can range
            between 1 and 100.
        - in: query
          style: form
          explode: true
          name: time
          schema:
            type: object
            properties:
              lt:
                type: string
                format: date-time
                description: Return results where the time field is less than this value.
              lte:
                type: string
                format: date-time
                description: Return results where the time field is less than or equal to this
                  value.
              gt:
                type: string
                format: date-time
                description: Return results where the time field is greater than this value.
              gte:
                type: string
                format: date-time
                description: Return results where the time field is greater than or equal to
                  this value.
            description: "A time based range filter on the list based on the object time
              field. For example
              '?time[gt]=2021-05-10T16:51:38.075Z&time[lte]=2021-05-26T16:51:38\
              .075Z'. The value is a dictionary with the following:"
          required: false
          description: "A time based range filter on the list based on the object time
            field. For example
            '?time[gt]=2021-05-10T16:51:38.075Z&time[lte]=2021-05-26T16:51:38.0\
            75Z'. The value is a dictionary with the following:"
        - in: query
          style: form
          explode: true
          name: member
          schema:
            type: string
            description: Filter measurements to only those belonging to the given member.
          required: false
          description: Filter measurements to only those belonging to the given member.
        - in: query
          style: form
          explode: true
          name: type
          schema:
            type: array
            items:
              type: string
              enum:
                - blood_pressure
                - body_weight
                - diastolic_blood_pressure
                - heart_rate
                - systolic_blood_pressure
            description: Filter measurements to only those of the given type.
          required: false
          description: Filter measurements to only those of the given type.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    default: list
                    enum:
                      - list
                    example: list
                    description: Always `list`.
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/measurement"
                    description: Array of results
                  has_more:
                    type: boolean
                    description: Contains `true` if there is another page of results available.
                required:
                  - object
                  - data
                  - has_more
      x-methodName: list
      x-belongsToResource: measurement
  "/v1/measurements/{id}":
    get:
      summary: Retrieve a Measurement
      description: Return the details of a measurement (a reading from a Device)
      tags:
        - Measurement
      parameters:
        - in: path
          style: simple
          explode: true
          name: id
          schema:
            type: string
            description: Unique ID of the measurement.
          required: true
          description: Unique ID of the measurement.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/measurement"
      x-methodName: retrieve
      x-belongsToResource: measurement
  /v1/communication/messages:
    post:
      summary: Create a Message
      description: Creates a message within a thread.
      tags:
        - Message
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                thread:
                  type: string
                  example: thrd_7BqeKrhbVU7c4Cigqs60
                  description: Unique ID of the thread to which the message belongs.
                text:
                  type: string
                  description: Contents of the message to send.
                thread_actions:
                  type: object
                  properties:
                    status:
                      type: string
                      enum:
                        - awaiting_care_team
                        - awaiting_member
                        - closed
                      description: New status for the thread after sending this message. By default,
                        Source will set the thread status to
                        'awaiting_care_team' if the member sends the message,
                        and 'awaiting_member' if someone on the care team send
                        the message.
                      example: closed
                  description: Actions to apply to the thread after the message has been sent.
                    Source guarantees that these actions will only be applied if
                    the message has been successfully sent. See the
                    documentation for nested params for information about each
                    available action.
                attachments:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - file
                      resource:
                        type: string
                        description: Unique ID of the resource to be attached to this message. When
                          attaching a file, this should be set to the uploaded
                          file's ID.
                    required:
                      - type
                      - resource
                sender:
                  type: string
                  example: usr_NC6MQ3FyxddKoJJpfSVL
                  description: When calling this endpoint with an API key, you must use this field
                    to specify the user on whose behalf the message is sent.
              required:
                - thread
                - text
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/message"
      x-methodName: create
      x-belongsToResource: message
    get:
      summary: List all Messages
      description: >-
        Returns a list of messages within a thread.


        The messages returned are sorted with the most recently sent appearing first.
      tags:
        - Message
      parameters:
        - in: query
          style: form
          explode: true
          name: ending_before
          schema:
            type: string
            description: A cursor for use in pagination. `ending_before` is an object ID
              that defines your place in the list. For instance, if you make a
              list request and receive 100 objects, starting with obj_bar, your
              subsequent call can include ending_before=obj_bar in order to
              fetch the previous page of the list.
          required: false
          description: A cursor for use in pagination. `ending_before` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, starting with obj_bar, your
            subsequent call can include ending_before=obj_bar in order to fetch
            the previous page of the list.
        - in: query
          style: form
          explode: true
          name: starting_after
          schema:
            type: string
            description: A cursor for use in pagination. `starting_after` is an object ID
              that defines your place in the list. For instance, if you make a
              list request and receive 100 objects, ending with obj_foo, your
              subsequent call can include starting_after=obj_foo in order to
              fetch the next page of the list.
          required: false
          description: A cursor for use in pagination. `starting_after` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, ending with obj_foo, your
            subsequent call can include starting_after=obj_foo in order to fetch
            the next page of the list.
        - in: query
          style: form
          explode: true
          name: limit
          schema:
            type: number
            minimum: 1
            maximum: 100
            description: A limit on the number of objects to be returned. Limit can range
              between 1 and 100.
          required: false
          description: A limit on the number of objects to be returned. Limit can range
            between 1 and 100.
        - in: query
          style: form
          explode: true
          name: thread
          schema:
            type: string
            example: thrd_7BqeKrhbVU7c4Cigqs60
            description: Unique ID of the thread whose messages should be shown.
          required: true
          description: Unique ID of the thread whose messages should be shown.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    default: list
                    enum:
                      - list
                    example: list
                    description: Always `list`.
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/message"
                    description: Array of results
                  has_more:
                    type: boolean
                    description: Contains `true` if there is another page of results available.
                required:
                  - object
                  - data
                  - has_more
      x-methodName: list
      x-belongsToResource: message
  "/v1/communication/messages/{id}":
    get:
      summary: Retrieve a Message
      description: Retrieves the details of an Message. You need only supply the
        unique message identifier that was returned upon creation.
      tags:
        - Message
      parameters:
        - in: path
          style: simple
          explode: true
          name: id
          schema:
            type: string
            description: Unique ID of the message.
          required: true
          description: Unique ID of the message.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/message"
      x-methodName: retrieve
      x-belongsToResource: message
  /v1/members:
    post:
      summary: Create a Member
      description: Creates a new member and registers them with Source. Members must
        be created in order to ship devices or track measurements.
      tags:
        - Member
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  nullable: true
                  description: Title for the member (Mr., Mrs., Dr., etc).
                  example: Dr.
                first_name:
                  type: string
                  description: First name of the member
                  example: Catherine
                middle_name:
                  type: string
                  nullable: true
                  description: Middle name of the member
                  example: null
                last_name:
                  type: string
                  description: Last name of the member
                  example: Parker
                preferred_name:
                  type: string
                  nullable: true
                  description: Preferred name of the member. This could be a shortened or
                    alternate name that the member typically prefers to be
                    called.
                  example: Cathy
                email:
                  type: string
                  nullable: true
                  description: Email address for the member
                  example: evieparker@example.org
                date_of_birth:
                  type: string
                  format: date
                  description: Date of birth of the member
                  example: 1964-10-01
                biological_sex:
                  type: string
                  enum:
                    - male
                    - female
                    - non_binary
                    - undisclosed
                  description: Biological sex of the member
                  example: female
                address:
                  type: object
                  properties:
                    street_line_1:
                      type: string
                      description: The first line of the street address.
                      example: 1 City Point
                    street_line_2:
                      type: string
                      minLength: 1
                      nullable: true
                      description: The second line of the street address.
                    city:
                      type: string
                      description: The city.
                      example: Brooklyn
                    region:
                      type: string
                      description: The region - in the US this should be the two-letter state code.
                      example: NY
                    postal_code:
                      type: string
                      description: The postal code (i.e. zip code).
                      example: "11215"
                    country:
                      type: string
                      description: The country, as a two-letter ISO 3166-1 code. US is the only
                        supported country at this time.
                      example: US
                  required:
                    - street_line_1
                    - city
                    - region
                    - postal_code
                    - country
                  nullable: true
                  description: Default address for the member. Used if no address is provided on a
                    specific order.
                phone_numbers:
                  type: array
                  items:
                    type: object
                    properties:
                      use:
                        type: string
                        enum:
                          - home
                          - work
                          - mobile
                          - fax
                          - other
                        description: Type of phone number.
                        example: mobile
                      value:
                        type: string
                        description: The phone number to use. This should be formatted in E.164 format.
                        example: "+12125551234"
                    required:
                      - use
                      - value
                  nullable: true
                  description: An array of phone numbers associated with the member. Providing any
                    value will override the entire array. Providing null or an
                    empty array will empty out the array.
                profile_image:
                  type: string
                  nullable: true
                  description: The file for the member's profile image. Must be of type `photo`
              required:
                - first_name
                - last_name
                - date_of_birth
                - biological_sex
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/member"
      x-methodName: create
      x-belongsToResource: member
    get:
      summary: List all Members
      description: >-
        Returns a list of members within the current account.


        The members returned are sorted by creation date, with the most recently added members appearing first.
      tags:
        - Member
      parameters:
        - in: query
          style: form
          explode: true
          name: ending_before
          schema:
            type: string
            description: A cursor for use in pagination. `ending_before` is an object ID
              that defines your place in the list. For instance, if you make a
              list request and receive 100 objects, starting with obj_bar, your
              subsequent call can include ending_before=obj_bar in order to
              fetch the previous page of the list.
          required: false
          description: A cursor for use in pagination. `ending_before` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, starting with obj_bar, your
            subsequent call can include ending_before=obj_bar in order to fetch
            the previous page of the list.
        - in: query
          style: form
          explode: true
          name: starting_after
          schema:
            type: string
            description: A cursor for use in pagination. `starting_after` is an object ID
              that defines your place in the list. For instance, if you make a
              list request and receive 100 objects, ending with obj_foo, your
              subsequent call can include starting_after=obj_foo in order to
              fetch the next page of the list.
          required: false
          description: A cursor for use in pagination. `starting_after` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, ending with obj_foo, your
            subsequent call can include starting_after=obj_foo in order to fetch
            the next page of the list.
        - in: query
          style: form
          explode: true
          name: limit
          schema:
            type: number
            minimum: 1
            maximum: 100
            description: A limit on the number of objects to be returned. Limit can range
              between 1 and 100.
          required: false
          description: A limit on the number of objects to be returned. Limit can range
            between 1 and 100.
        - in: query
          style: form
          explode: true
          name: email
          schema:
            type: string
            description: Limit results to members with the given email.
          required: false
          description: Limit results to members with the given email.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    default: list
                    enum:
                      - list
                    example: list
                    description: Always `list`.
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/member"
                    description: Array of results
                  has_more:
                    type: boolean
                    description: Contains `true` if there is another page of results available.
                required:
                  - object
                  - data
                  - has_more
      x-methodName: list
      x-belongsToResource: member
  "/v1/members/{id}":
    get:
      summary: Retrieve a Member
      description: Retrieves the details of an existing member. You need only supply
        the unique member identifier that was returned upon member creation.
      tags:
        - Member
      parameters:
        - in: path
          style: simple
          explode: true
          name: id
          schema:
            type: string
            description: Unique ID of the member.
          required: true
          description: Unique ID of the member.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/member"
      x-methodName: retrieve
      x-belongsToResource: member
    post:
      summary: Update a Member
      description: >-
        Updates the specified member by setting the values of the parameters
        passed.


        Any parameters not provided will be left unchanged. For example, if you pass the email parameter, that becomes the member's active email to be used.
      tags:
        - Member
      parameters:
        - in: path
          style: simple
          explode: true
          name: id
          schema:
            type: string
            description: Unique ID of the member.
          required: true
          description: Unique ID of the member.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  nullable: true
                  description: Title for the member (Mr., Mrs., Dr., etc).
                  example: Dr.
                first_name:
                  type: string
                  description: First name of the member
                  example: Catherine
                middle_name:
                  type: string
                  nullable: true
                  description: Middle name of the member
                  example: null
                last_name:
                  type: string
                  description: Last name of the member
                  example: Parker
                preferred_name:
                  type: string
                  nullable: true
                  description: Preferred name of the member. This could be a shortened or
                    alternate name that the member typically prefers to be
                    called.
                  example: Cathy
                email:
                  type: string
                  nullable: true
                  description: Email address for the member
                  example: evieparker@example.org
                date_of_birth:
                  type: string
                  format: date
                  description: Date of birth of the member
                  example: 1964-10-01
                biological_sex:
                  type: string
                  enum:
                    - male
                    - female
                    - non_binary
                    - undisclosed
                  description: Biological sex of the member
                  example: female
                address:
                  type: object
                  properties:
                    street_line_1:
                      type: string
                      description: The first line of the street address.
                      example: 1 City Point
                    street_line_2:
                      type: string
                      minLength: 1
                      nullable: true
                      description: The second line of the street address.
                    city:
                      type: string
                      description: The city.
                      example: Brooklyn
                    region:
                      type: string
                      description: The region - in the US this should be the two-letter state code.
                      example: NY
                    postal_code:
                      type: string
                      description: The postal code (i.e. zip code).
                      example: "11215"
                    country:
                      type: string
                      description: The country, as a two-letter ISO 3166-1 code. US is the only
                        supported country at this time.
                      example: US
                  required:
                    - street_line_1
                    - city
                    - region
                    - postal_code
                    - country
                  nullable: true
                  description: Default address for the member. Used if no address is provided on a
                    specific order.
                phone_numbers:
                  type: array
                  items:
                    type: object
                    properties:
                      use:
                        type: string
                        enum:
                          - home
                          - work
                          - mobile
                          - fax
                          - other
                        description: Type of phone number.
                        example: mobile
                      value:
                        type: string
                        description: The phone number to use. This should be formatted in E.164 format.
                        example: "+12125551234"
                    required:
                      - use
                      - value
                  nullable: true
                  description: An array of phone numbers associated with the member. Providing any
                    value will override the entire array. Providing null or an
                    empty array will empty out the array.
                profile_image:
                  type: string
                  nullable: true
                  description: The file for the member's profile image. Must be of type `photo`
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/member"
      x-methodName: update
      x-belongsToResource: member
  /v1/orders:
    post:
      summary: Create an Order
      description: >-
        Create an order to send devices to a member. Orders placed through the
        Source API will be sent directly to our fulfillment center, and
        generally shipped out the next day.


        All orders sent out of our fulfillment center will be invoiced and payable at the end of the month.


        When placing an order, you'll need to specify the products you would like to send to the member. Currently, you can send the following products:


        Scale: `prod_m0zvh4UpfvtRZasxVUwE`


        Blood Pressure Monitor: `prod_1rqijtxD3sjkVVQPRRFC`
      tags:
        - Order
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                member:
                  type: string
                  description: Member to which the order should be sent.
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      product:
                        type: string
                        description: Unique ID of the product.
                        example: prod_1rqijtxD3sjkVVQPRRFC
                    required:
                      - product
                  description: Items that should be sent to the member.
                shipping_address:
                  type: object
                  properties:
                    street_line_1:
                      type: string
                      description: The first line of the street address.
                      example: 1 City Point
                    street_line_2:
                      type: string
                      minLength: 1
                      nullable: true
                      description: The second line of the street address.
                    city:
                      type: string
                      description: The city.
                      example: Brooklyn
                    region:
                      type: string
                      description: The region - in the US this should be the two-letter state code.
                      example: NY
                    postal_code:
                      type: string
                      description: The postal code (i.e. zip code).
                      example: "11215"
                    country:
                      type: string
                      description: The country, as a two-letter ISO 3166-1 code. US is the only
                        supported country at this time.
                      example: US
                  required:
                    - street_line_1
                    - city
                    - region
                    - postal_code
                    - country
                  description: The address to which the items should be shipped. This field is
                    optional as long as the member has an associated primary
                    address. If not, you must provide a shipping address for the
                    order.
              required:
                - member
                - items
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/order"
      x-methodName: create
      x-belongsToResource: order
    get:
      summary: List all Orders
      description: Retrieves the details of an order. Supply the unique identifier of
        the order, which you might have received in a webhook.
      tags:
        - Order
      parameters:
        - in: query
          style: form
          explode: true
          name: ending_before
          schema:
            type: string
            description: A cursor for use in pagination. `ending_before` is an object ID
              that defines your place in the list. For instance, if you make a
              list request and receive 100 objects, starting with obj_bar, your
              subsequent call can include ending_before=obj_bar in order to
              fetch the previous page of the list.
          required: false
          description: A cursor for use in pagination. `ending_before` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, starting with obj_bar, your
            subsequent call can include ending_before=obj_bar in order to fetch
            the previous page of the list.
        - in: query
          style: form
          explode: true
          name: starting_after
          schema:
            type: string
            description: A cursor for use in pagination. `starting_after` is an object ID
              that defines your place in the list. For instance, if you make a
              list request and receive 100 objects, ending with obj_foo, your
              subsequent call can include starting_after=obj_foo in order to
              fetch the next page of the list.
          required: false
          description: A cursor for use in pagination. `starting_after` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, ending with obj_foo, your
            subsequent call can include starting_after=obj_foo in order to fetch
            the next page of the list.
        - in: query
          style: form
          explode: true
          name: limit
          schema:
            type: number
            minimum: 1
            maximum: 100
            description: A limit on the number of objects to be returned. Limit can range
              between 1 and 100.
          required: false
          description: A limit on the number of objects to be returned. Limit can range
            between 1 and 100.
        - in: query
          style: form
          explode: true
          name: member
          schema:
            type: string
            description: Limit results to orders for the given member.
          required: false
          description: Limit results to orders for the given member.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    default: list
                    enum:
                      - list
                    example: list
                    description: Always `list`.
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/order"
                    description: Array of results
                  has_more:
                    type: boolean
                    description: Contains `true` if there is another page of results available.
                required:
                  - object
                  - data
                  - has_more
      x-methodName: list
      x-belongsToResource: order
  "/v1/orders/{id}":
    get:
      summary: Retrieve an Order
      description: Retrieves the details of an order. Supply the unique identifier of
        the order, which you might have received in a webhook.
      tags:
        - Order
      parameters:
        - in: path
          style: simple
          explode: true
          name: id
          schema:
            type: string
            description: Unique ID of the order.
          required: true
          description: Unique ID of the order.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/order"
      x-methodName: retrieve
      x-belongsToResource: order
  /v1/tasks:
    post:
      summary: Create a Task
      description: Creates a new task and registers it with Source. Once a task is
        created you cannot update the definition or member associated with that
        task.
      tags:
        - Task
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                definition:
                  type: string
                  description: The task definition that this task models. You may provide either
                    the definition ID or key.
                  example: tskd_vlTxSr3ldEgbgX0RiQSk
                member:
                  type: string
                  description: The member to which this task belongs.
                  example: mem_JAfPRRc59eh2YQ1aeL3D
                assignee:
                  type: string
                  nullable: true
                  description: The user to which this task is assigned. If set to null, the task
                    will be unassigned.
                  example: usr_NC6MQ3FyxddKoJJpfSVL
                summary:
                  type: string
                  minLength: 1
                  maxLength: 255
                  description: A brief summary of the task, which will be shown wherever the task
                    is presented.
                  example: Call the member to check up on medications
                description:
                  type: string
                  maxLength: 65536
                  nullable: true
                  description: Long-form text describing the task to be performed. You can use
                    this field to share any additional relevant context to the
                    care team that will be acting on this task.
                  example: The member had a specific question about their medication and how it
                    interacts with their Hypertension.
                status:
                  type: string
                  enum:
                    - open
                    - resolved
                  description: The status of the task
                  example: open
                due_at:
                  type: string
                  format: date-time
                  description: The time by which this task should be completed. If no due_at date
                    is supplied, the due_at date will automatically be 24 hours
                    after the task was created. The due_at date must be in the
                    future.'
                  example: 2021-05-13T16:33:00.000Z
                related:
                  type: array
                  items:
                    type: string
                    description: Unique identifier for the related resource.
                    example: thrd_7BqeKrhbVU7c4Cigqs60
                  description: A list of object IDs, such as threads, that are related to the
                    task.
              required:
                - definition
                - member
                - summary
                - status
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/task"
      x-methodName: create
      x-belongsToResource: task
    get:
      summary: List all Tasks
      description: >-
        Returns a list of tasks within the current account.


        The tasks returned are sorted by creation date, with the most recently added task appearing first.
      tags:
        - Task
      parameters:
        - in: query
          style: form
          explode: true
          name: ending_before
          schema:
            type: string
            description: A cursor for use in pagination. `ending_before` is an object ID
              that defines your place in the list. For instance, if you make a
              list request and receive 100 objects, starting with obj_bar, your
              subsequent call can include ending_before=obj_bar in order to
              fetch the previous page of the list.
          required: false
          description: A cursor for use in pagination. `ending_before` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, starting with obj_bar, your
            subsequent call can include ending_before=obj_bar in order to fetch
            the previous page of the list.
        - in: query
          style: form
          explode: true
          name: starting_after
          schema:
            type: string
            description: A cursor for use in pagination. `starting_after` is an object ID
              that defines your place in the list. For instance, if you make a
              list request and receive 100 objects, ending with obj_foo, your
              subsequent call can include starting_after=obj_foo in order to
              fetch the next page of the list.
          required: false
          description: A cursor for use in pagination. `starting_after` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, ending with obj_foo, your
            subsequent call can include starting_after=obj_foo in order to fetch
            the next page of the list.
        - in: query
          style: form
          explode: true
          name: limit
          schema:
            type: number
            minimum: 1
            maximum: 100
            description: A limit on the number of objects to be returned. Limit can range
              between 1 and 100.
          required: false
          description: A limit on the number of objects to be returned. Limit can range
            between 1 and 100.
        - in: query
          style: form
          explode: true
          name: sort
          schema:
            type: string
            enum:
              - created_at
              - due_at
              - -created_at
              - -due_at
            description: Sort field for the results. A '-' prefix indicates sorting by that
              field in descending order, otherwise the order will be ascending.
            example: created_at
          required: false
          description: Sort field for the results. A '-' prefix indicates sorting by that
            field in descending order, otherwise the order will be ascending.
        - in: query
          style: form
          explode: true
          name: status
          schema:
            type: array
            items:
              type: string
              enum:
                - open
                - resolved
            description: Filter results by status. If multiple statuses are provided, tasks
              matching any of the provided statuses will be returned.
          required: false
          description: Filter results by status. If multiple statuses are provided, tasks
            matching any of the provided statuses will be returned.
        - in: query
          style: form
          explode: true
          name: member
          schema:
            type: array
            items:
              type: string
            description: Filter results by member. If multiple member ids are provided,
              tasks matching any of the provided members will be returned.
          required: false
          description: Filter results by member. If multiple member ids are provided,
            tasks matching any of the provided members will be returned.
        - in: query
          style: form
          explode: true
          name: assignee
          schema:
            type: array
            items:
              type: string
            description: Filter results by assignees. If multiple assignee ids are provided,
              tasks matching any of the provided assignees will be returned.
              Providing `unassigned` will return any tasks that are unassigned.
          required: false
          description: Filter results by assignees. If multiple assignee ids are provided,
            tasks matching any of the provided assignees will be returned.
            Providing `unassigned` will return any tasks that are unassigned.
        - in: query
          style: form
          explode: true
          name: definition
          schema:
            type: array
            items:
              type: string
            description: Filter results by task definitons. If multiple task defintion ids
              are provided, tasks matching any of the provided definitions will
              be returned.
          required: false
          description: Filter results by task definitons. If multiple task defintion ids
            are provided, tasks matching any of the provided definitions will be
            returned.
        - in: query
          style: form
          explode: true
          name: due_at
          schema:
            type: object
            properties:
              lt:
                type: string
                format: date-time
                description: Return results where the due_at field is less than this value.
              lte:
                type: string
                format: date-time
                description: Return results where the due_at field is less than or equal to this
                  value.
              gt:
                type: string
                format: date-time
                description: Return results where the due_at field is greater than this value.
              gte:
                type: string
                format: date-time
                description: Return results where the due_at field is greater than or equal to
                  this value.
            description: "A time based range filter on the list based on the object due_at
              field. For example
              '?due_at[gt]=2021-05-10T16:51:38.075Z&due_at[lte]=2021-05-26T16:5\
              1:38.075Z'. The value is a dictionary with the following:"
          required: false
          description: "A time based range filter on the list based on the object due_at
            field. For example
            '?due_at[gt]=2021-05-10T16:51:38.075Z&due_at[lte]=2021-05-26T16:51:\
            38.075Z'. The value is a dictionary with the following:"
        - in: query
          style: form
          explode: true
          name: created_at
          schema:
            type: object
            properties:
              lt:
                type: string
                format: date-time
                description: Return results where the created_at field is less than this value.
              lte:
                type: string
                format: date-time
                description: Return results where the created_at field is less than or equal to
                  this value.
              gt:
                type: string
                format: date-time
                description: Return results where the created_at field is greater than this
                  value.
              gte:
                type: string
                format: date-time
                description: Return results where the created_at field is greater than or equal
                  to this value.
            description: "A time based range filter on the list based on the object
              created_at field. For example
              '?created_at[gt]=2021-05-10T16:51:38.075Z&created_at[lte]=2021-05\
              -26T16:51:38.075Z'. The value is a dictionary with the following:"
          required: false
          description: "A time based range filter on the list based on the object
            created_at field. For example
            '?created_at[gt]=2021-05-10T16:51:38.075Z&created_at[lte]=2021-05-2\
            6T16:51:38.075Z'. The value is a dictionary with the following:"
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    default: list
                    enum:
                      - list
                    example: list
                    description: Always `list`.
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/task"
                    description: Array of results
                  has_more:
                    type: boolean
                    description: Contains `true` if there is another page of results available.
                required:
                  - object
                  - data
                  - has_more
      x-methodName: list
      x-belongsToResource: task
  "/v1/tasks/{id}":
    post:
      summary: Update a Task
      description: >-
        Updates the specified task by setting the values of the parameters
        passed.


        Any parameters not provided will be left unchanged. For example, if you pass the assignee parameter, that assigns the task to the given user.
      tags:
        - Task
      parameters:
        - in: path
          style: simple
          explode: true
          name: id
          schema:
            type: string
            description: Unique ID of the task.
          required: true
          description: Unique ID of the task.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                assignee:
                  type: string
                  nullable: true
                  description: The user to which this task is assigned. If set to null, the task
                    will be unassigned.
                  example: usr_NC6MQ3FyxddKoJJpfSVL
                summary:
                  type: string
                  minLength: 1
                  maxLength: 255
                  description: A brief summary of the task, which will be shown wherever the task
                    is presented.
                  example: Call the member to check up on medications
                description:
                  type: string
                  maxLength: 65536
                  nullable: true
                  description: Long-form text describing the task to be performed. You can use
                    this field to share any additional relevant context to the
                    care team that will be acting on this task.
                  example: The member had a specific question about their medication and how it
                    interacts with their Hypertension.
                status:
                  type: string
                  enum:
                    - open
                    - resolved
                  description: The status of the task
                  example: open
                due_at:
                  type: string
                  format: date-time
                  description: The time by which this task should be completed. If no due_at date
                    is supplied, the due_at date will automatically be 24 hours
                    after the task was created. The due_at date must be in the
                    future.'
                  example: 2021-05-13T16:33:00.000Z
                related:
                  type: array
                  items:
                    type: string
                    description: Unique identifier for the related resource.
                    example: thrd_7BqeKrhbVU7c4Cigqs60
                  description: A list of object IDs, such as threads, that are related to the
                    task.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/task"
      x-methodName: update
      x-belongsToResource: task
    get:
      summary: Retrieve a Task
      description: Retrieves the details of an existing task. You need only supply the
        unique task identifier that was returned upon creation.
      tags:
        - Task
      parameters:
        - in: path
          style: simple
          explode: true
          name: id
          schema:
            type: string
            description: Unique ID of the task.
          required: true
          description: Unique ID of the task.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/task"
      x-methodName: retrieve
      x-belongsToResource: task
  /v1/task_definitions:
    post:
      summary: Create a Task Definition
      description: Creates a new task definition and registers it with Source. Task
        defiitions must be created in order to create tasks of that type
      tags:
        - Task Definition
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  type: string
                  description: Globally unique identifier of the task definition
                  example: medication-request
                name:
                  type: string
                  description: Human readable name of the task definition
                  example: Medication Request
                care_team_role:
                  type: string
                  nullable: true
                  description: The ID of the care team role that tasks should be assigned to be
                    default. If no role is set on the task definition, any tasks
                    created without explicit assignment will remain unassigned.
                  example: ctr_iNGhmxf28QqEstlwzxWK
              required:
                - key
                - name
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/task_definition"
      x-methodName: create
      x-belongsToResource: task_definition
    get:
      summary: List all Task Definitions
      description: >-
        Returns a list of task definitions within the current account.


        The task definitions returned are sorted by creation date, with the most recently added task definitions appearing first.
      tags:
        - Task Definition
      parameters:
        - in: query
          style: form
          explode: true
          name: ending_before
          schema:
            type: string
            description: A cursor for use in pagination. `ending_before` is an object ID
              that defines your place in the list. For instance, if you make a
              list request and receive 100 objects, starting with obj_bar, your
              subsequent call can include ending_before=obj_bar in order to
              fetch the previous page of the list.
          required: false
          description: A cursor for use in pagination. `ending_before` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, starting with obj_bar, your
            subsequent call can include ending_before=obj_bar in order to fetch
            the previous page of the list.
        - in: query
          style: form
          explode: true
          name: starting_after
          schema:
            type: string
            description: A cursor for use in pagination. `starting_after` is an object ID
              that defines your place in the list. For instance, if you make a
              list request and receive 100 objects, ending with obj_foo, your
              subsequent call can include starting_after=obj_foo in order to
              fetch the next page of the list.
          required: false
          description: A cursor for use in pagination. `starting_after` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, ending with obj_foo, your
            subsequent call can include starting_after=obj_foo in order to fetch
            the next page of the list.
        - in: query
          style: form
          explode: true
          name: limit
          schema:
            type: number
            minimum: 1
            maximum: 100
            description: A limit on the number of objects to be returned. Limit can range
              between 1 and 100.
          required: false
          description: A limit on the number of objects to be returned. Limit can range
            between 1 and 100.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    default: list
                    enum:
                      - list
                    example: list
                    description: Always `list`.
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/task_definition"
                    description: Array of results
                  has_more:
                    type: boolean
                    description: Contains `true` if there is another page of results available.
                required:
                  - object
                  - data
                  - has_more
      x-methodName: list
      x-belongsToResource: task_definition
  "/v1/task_definitions/{id}":
    post:
      summary: Update a Task Definition
      description: >-
        Updates the specified task definition by setting the values of the
        parameters passed.


        Any parameters not provided will be left unchanged. For example, if you pass the name parameter, that becomes the task definitions's active name that is used in the API and interface.
      tags:
        - Task Definition
      parameters:
        - in: path
          style: simple
          explode: true
          name: id
          schema:
            type: string
            description: Unique ID of the task_definition.
          required: true
          description: Unique ID of the task_definition.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  type: string
                  description: Globally unique identifier of the task definition
                  example: medication-request
                name:
                  type: string
                  description: Human readable name of the task definition
                  example: Medication Request
                care_team_role:
                  type: string
                  nullable: true
                  description: The ID of the care team role that tasks should be assigned to be
                    default. If no role is set on the task definition, any tasks
                    created without explicit assignment will remain unassigned.
                  example: ctr_iNGhmxf28QqEstlwzxWK
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/task_definition"
      x-methodName: update
      x-belongsToResource: task_definition
    get:
      summary: Retrieve a Task Definition
      description: Retrieves the details of an existing task definition. You need only
        supply the unique task definition identifier that was returned upon
        creation.
      tags:
        - Task Definition
      parameters:
        - in: path
          style: simple
          explode: true
          name: id
          schema:
            type: string
            description: Unique ID of the task_definition.
          required: true
          description: Unique ID of the task_definition.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/task_definition"
      x-methodName: retrieve
      x-belongsToResource: task_definition
  /v1/workflow/queue:
    get:
      summary: Get all Task Queue Entries
      description: Returns a list of Task Queue Entries which are tasks assigned to
        the provided user, grouped by member, and ordered by priority using the
        due_at property.
      tags:
        - Workflow
      parameters:
        - in: query
          style: form
          explode: true
          name: ending_before
          schema:
            type: string
            description: A cursor for use in pagination. `ending_before` is an object ID
              that defines your place in the list. For instance, if you make a
              list request and receive 100 objects, starting with obj_bar, your
              subsequent call can include ending_before=obj_bar in order to
              fetch the previous page of the list.
          required: false
          description: A cursor for use in pagination. `ending_before` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, starting with obj_bar, your
            subsequent call can include ending_before=obj_bar in order to fetch
            the previous page of the list.
        - in: query
          style: form
          explode: true
          name: starting_after
          schema:
            type: string
            description: A cursor for use in pagination. `starting_after` is an object ID
              that defines your place in the list. For instance, if you make a
              list request and receive 100 objects, ending with obj_foo, your
              subsequent call can include starting_after=obj_foo in order to
              fetch the next page of the list.
          required: false
          description: A cursor for use in pagination. `starting_after` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, ending with obj_foo, your
            subsequent call can include starting_after=obj_foo in order to fetch
            the next page of the list.
        - in: query
          style: form
          explode: true
          name: limit
          schema:
            type: number
            minimum: 1
            maximum: 100
            description: A limit on the number of objects to be returned. Limit can range
              between 1 and 100.
          required: false
          description: A limit on the number of objects to be returned. Limit can range
            between 1 and 100.
        - in: query
          style: form
          explode: true
          name: assignee
          schema:
            type: string
            description: Shows the queue for the provided user. By default when not provided
              the queue will include all tasks assigned to all users. When
              authenticated as a user you can specify the value 'current' to
              show the current users task queue. Providing `unassigned` will
              show a global queue of all tasks that are unassigned.
          required: false
          description: Shows the queue for the provided user. By default when not provided
            the queue will include all tasks assigned to all users. When
            authenticated as a user you can specify the value 'current' to show
            the current users task queue. Providing `unassigned` will show a
            global queue of all tasks that are unassigned.
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    default: list
                    enum:
                      - list
                    example: list
                    description: Always `list`.
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/task_queue_entry"
                    description: Array of results
                  has_more:
                    type: boolean
                    description: Contains `true` if there is another page of results available.
                required:
                  - object
                  - data
                  - has_more
  /v1/communication/threads:
    post:
      summary: Create a Thread
      description: Creates a new messaging thread.
      tags:
        - Thread
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                member:
                  type: string
                  example: mem_JAfPRRc59eh2YQ1aeL3D
                  description: The ID of the member to which this thread belongs
                assignee:
                  type: string
                  example: usr_NC6MQ3FyxddKoJJpfSVL
                  description: The ID of the care team user to which this thread is currently
                    assigned, if any.
                subject:
                  type: string
                  description: The thread subject.
                message:
                  type: object
                  properties:
                    text:
                      type: string
                      description: Contents of the message to send.
                    thread_actions:
                      type: object
                      properties:
                        status:
                          type: string
                          enum:
                            - awaiting_care_team
                            - awaiting_member
                            - closed
                          description: New status for the thread after sending this message. By default,
                            Source will set the thread status to
                            'awaiting_care_team' if the member sends the
                            message, and 'awaiting_member' if someone on the
                            care team send the message.
                          example: closed
                      description: Actions to apply to the thread after the message has been sent.
                        Source guarantees that these actions will only be
                        applied if the message has been successfully sent. See
                        the documentation for nested params for information
                        about each available action.
                    attachments:
                      type: array
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                            enum:
                              - file
                          resource:
                            type: string
                            description: Unique ID of the resource to be attached to this message. When
                              attaching a file, this should be set to the
                              uploaded file's ID.
                        required:
                          - type
                          - resource
                    sender:
                      type: string
                      example: usr_NC6MQ3FyxddKoJJpfSVL
                      description: When calling this endpoint with an API key, you must use this field
                        to specify the user on whose behalf the message is sent.
                  required:
                    - text
                  description: The initial message to send when creating this thread.
              required:
                - member
                - message
      responses:
        default:
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/thread"
      x-methodName: create
[...]
