{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0",
    "title": "Source Health API",
    "description": "The Source HTTP API",
    "contact": {
      "name": "Source Support",
      "email": "support@sourcehealth.com",
      "url": "https://sourcehealth.com/docs/api"
    }
  },
  "servers": [
    {
      "url": "https://api.sourcehealth.com",
      "description": "Source Production"
    }
  ],
  "security": [
    {
      "bearer": []
    },
    {
      "basic": []
    }
  ],
  "tags": [],
  "paths": {
    "/v1/accounts/{id}": {
      "get": {
        "summary": "Retrieve an Account",
        "description": "Retrieves the details of an account.\n\nSupply the unique identifier of the account, or `current` to access your current account.",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "in": "path",
            "style": "simple",
            "explode": true,
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Unique ID of the account.",
              "example": "act_KbBlmtoXCFK7Km7S93Nu"
            },
            "required": true,
            "description": "Unique ID of the account."
          }
        ],
        "responses": {
          "default": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/account"
                }
              }
            }
          }
        },
        "x-methodName": "retrieve",
        "x-belongsToResource": "account"
      },
      "post": {
        "summary": "Update an Account",
        "description": "Updates an account. At this time you can only update the account name and subdomain.\n\nAny parameters that are not provided in the request will be left unchanged.",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "in": "path",
            "style": "simple",
            "explode": true,
            "name": "id",
            "schema": {
              "type": "string",
              "description": "Unique ID of the account.",
              "example": "act_KbBlmtoXCFK7Km7S93Nu"
            },
            "required": true,
            "description": "Unique ID of the account."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Name for the account.",
                    "example": "Source Health"
                  },
                  "subdomain": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Subdomain for the account.",
                    "example": "sourcehealth"
                  },
                  "time_zone": {
                    "type": "string",
                    "description": "The time zone identifier for this account. Account level time zone identifiers are used to determine when \"midnight\" exists for your practice, and feed into Source's understanding of your organization's business hours. Note that each user has their own time zone as well, which is what is used when declaring user availability and booking appointments.",
                    "example": "America/New_York"
                  },
                  "theme": {
                    "type": "object",
                    "properties": {
                      "colors": {
                        "type": "object",
                        "properties": {
                          "primary": {
                            "type": "string",
                            "nullable": true,
                            "description": "Color hex for the primary interface elements such as buttons."
                          },
                          "primary_text": {
                            "type": "string",
                            "nullable": true,
                            "description": "Color hex for text that appears on primary interface elements."
                          },
                          "accent": {
                            "type": "string",
                            "nullable": true,
                            "description": "Color hex for the accent elements like checkboxes, radio buttons, links, and similar second-level indications."
                          },
                          "accent_text": {
                            "type": "string",
                            "nullable": true,
                            "description": "Color hex for text that appears on accent interface elements."
                          },
                          "surface": {
                            "type": "string",
                            "nullable": true,
                            "description": "Color hex for the color of the primary page background."
                          },
                          "surface_text": {
                            "type": "string",
                            "nullable": true,
                            "description": "Color hex for the text that appears directly on the primary surface."
                          },
                          "component": {
                            "type": "string",
                            "nullable": true,
                            "description": "Color hex for the background color of elements sitting on the surface, such as a card."
                          },
                          "component_text": {
                            "type": "string",
                            "nullable": true,
                            "description": "Color hex for the text that appears within a component element."
                          },
                          "border": {
                            "type": "string",
                            "nullable": true,
                            "description": "Color hex for the border color on interactive elements."
                          }
                        },
                        "required": [
                          "primary",
                          "primary_text",
                          "accent",
                          "accent_text",
                          "surface",
                          "surface_text",
                          "component",
                          "component_text",
                          "border"
                        ],
                        "description": "Brand colors used throughout the application."
                      },
                      "shapes": {
                        "type": "object",
                        "properties": {
                          "border_radius": {
                            "type": "string",
                            "nullable": true,
                            "description": "Border radius, defined in pixels."
                          },
                          "shadows": {
                            "type": "boolean",
                            "description": "Whether or not to enable default shadows on elements."
                          }
                        },
                        "required": [
                          "border_radius",
                          "shadows"
                        ],
                        "description": "Brand settings that affect the shape of elements."
                      }
                    },
                    "required": [
                      "colors",
                      "shapes"
                    ],
                    "description": "Theme configuration to apply to the account."
                  },
                  "logo": {
                    "type": "string",
                    "example": "file_0A9zrLzCO7KPcnIbs40e",
                    "nullable": true,
                    "description": "Pointer to the file to use as the logo for this account. Must be of purpose account_logo."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/account"
                }
              }
            }
          }
        },
        "x-methodName": "update",
        "x-belongsToResource": "account"
      }
    },
    "/v1/scheduling/appointments": {
      "post": {
        "summary": "Create an Appointment",
        "description": "Creates a new appointment in Source.\n\nBy default, you cannot create an appointment for a participant with a conflict during the time of the appointment. If desired, you can disable this check by setting the skip_constraints param to true.\n\nYou are also able to call the create appointment API with a member token when you are building a member-facing experience. In that case, members are only able to book an appointment for themselves. Appointments created by members must follow the rules of the selected appointment type, and the constraint checks may not be bypassed.",
        "tags": [
          "Appointment"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appointment_type": {
                    "type": "string",
                    "description": "Unique ID or key of the appointment type for this appointment.",
                    "example": "intake_visit"
                  },
                  "location": {
                    "type": "string",
                    "example": "loc_EtTXhFHUtCXO1JWBd8TN",
                    "nullable": true,
                    "description": "The physical location where the appointment should be booked. Setting the identifier of a physical location on this property is independent of whether you wish there to be a video call or other modality associated with the appointment. By default, no location is associated with the appointment."
                  },
                  "time_zone": {
                    "type": "string",
                    "description": "Time zone in which the appointment should be scheduled. Changing this value has no impact on the actual time of the appointment, which is always provided in UTC. However, this value may be used when formatting the appointment time for representation, and recalculating the UTC time in the event of a time zone rule change.",
                    "example": "America/New_York"
                  },
                  "member": {
                    "type": "string",
                    "example": "mem_5QW8j1oKqQjNaPk4Hv3f",
                    "nullable": true,
                    "description": "The member to which this appointment belongs. Setting a member on this property will allow the member to access this appointment via the API. Members can only view appointments which are directly associated with them."
                  },
                  "start_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Start time for this appointment. Appointments can be created which start in the past, if you want to record an appointment that has already occured. Appointment times must always be provided in UTC, regardless of the value of the time_zone property.",
                    "example": "2021-05-13T16:33:00.000Z"
                  },
                  "duration": {
                    "type": "number",
                    "maximum": 1440,
                    "description": "The duration of the appointment, in minutes. If no duration is provided, it will be automatically determined based on the appointment type provided.",
                    "example": 30
                  },
                  "end_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "End time for this appointment. When creating an appointment, you can optionally specify either a duration or an end date. If both are specified, the end_at timestamp will take precedence. If neither are provided, the appointment type's default duration will be used.",
                    "example": "2021-05-13T16:33:00.000Z"
                  },
                  "subject": {
                    "type": "string",
                    "maxLength": 255,
                    "nullable": true,
                    "description": "Subject of this appointment. This will be shown to all participants. It may also be transmitted via email or SMS, so it should not include PHI.",
                    "example": "Pre-Op Check-In"
                  },
                  "instructions": {
                    "type": "string",
                    "maxLength": 1024,
                    "nullable": true,
                    "description": "Member instructions for the appointment, which will be shared in advance. It may also be transmitted via email or SMS, so it should not include PHI.",
                    "example": "Please fast for 12 hours prior to your appointment"
                  },
                  "participants": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "participant": {
                          "type": "string",
                          "example": "usr_qoGndHzx8KwdYsEByt9X",
                          "description": "The participant to include on this appointment. Must be a valid user identifier."
                        }
                      },
                      "required": [
                        "participant"
                      ]
                    },
                    "description": "The participants that should be included on this appointment. At least one participant is required."
                  },
                  "skip_constraints": {
                    "type": "boolean",
                    "description": "By default, Source runs a number of checks to prevent you from creating appointments that seem unsafe. For example, we prevent you from creating appointments that take place in the past, from creating appointments outside of the bookable window for an appointment type, from creating appointments that require licensure with unlicensed participants, or from creating appointments during which one of the participants has a conflict.\n\nWhen calling the appointments endpoints with your API key, you can override this behavior by setting the skip_constraints param to true, allowing you to create your appointment. Note that some checks, such as ensuring the appointment end time is after the start time, cannot be bypassed.\n\nMember tokens are unable to provide this parameter, and will receive a permissions error if they attempt to."
                  },
                  "video_call": {
                    "type": "object",
                    "properties": {
                      "provider": {
                        "type": "string",
                        "enum": [
                          "custom",
                          "source"
                        ],
                        "description": "The video call provider. Source automatically generates video call links for every appointment type that is configured to do so. Alternatively, you can use the value `custom` to provide your own video call link.  When providing `custom`, you must provide a join URL and can optionally include a token or passcode.",
                        "example": "custom"
                      },
                      "join_url": {
                        "type": "string",
                        "nullable": true,
                        "description": "The URL to access the video call. Anyone with this link will be able to request to join this video call, so you should ensure it is kept safe. Only for 'custom' video calls - for 'source' video calls, we generate the join URL.",
                        "example": "https://video-provider.example.com/?join=eeh4Eec1ahBoquohshe1fooh"
                      },
                      "passcode": {
                        "type": "string",
                        "nullable": true,
                        "description": "Passcode used when joining the call. This value is not used for Source-generated video calls, but it may be used if using a custom video provider that requires a passcode.",
                        "example": "letmein"
                      }
                    },
                    "required": [
                      "provider"
                    ],
                    "nullable": true,
                    "description": "Set the details of a video call, if this appointment will be a video visit. By default any appointment for an appointment type with `video_enabled: true` will have a Source video call created when the appointment is created.\n\nMembers may not override the video call settings of an appointment, but users and API keys are able to set `provider: 'source'` to create a Source-managed call, or provide the details of a third-party video call.\n\nTo remove all video call details, set this parameter to null."
                  },
                  "recurrence": {
                    "type": "object",
                    "properties": {
                      "frequency": {
                        "type": "string",
                        "enum": [
                          "weekly"
                        ],
                        "description": "How often the appointments should recur. Source only supports 'weekly' at this time (including \"every N weeks\", using 'interval').",
                        "example": "weekly"
                      },
                      "interval": {
                        "type": "number",
                        "minimum": 1,
                        "maximum": 20,
                        "description": "How many of the `frequency` intervals between each appointment, i.e. 'every N weeks'.",
                        "example": 1
                      },
                      "count": {
                        "type": "number",
                        "minimum": 1,
                        "maximum": 52,
                        "description": "How many total appointments should be in the series.\n\nOne and only one of `count` or `until` must be set."
                      },
                      "until": {
                        "type": "string",
                        "format": "date",
                        "description": "The date at which the recurring series will end. This date is inclusive, so if an appointment instance falls on this date, that appointment will be booked. One and only one of `count` or `until` must be set."
                      },
                      "days_of_week": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "monday",
                            "tuesday",
                            "wednesday",
                            "thursday",
                            "friday",
                            "saturday",
                            "sunday"
                          ]
                        },
                        "description": "The days of the week on which appointments should occur. By providing multiple days, you can indicate multiple recurring appointments per week."
                      }
                    },
                    "required": [
                      "frequency",
                      "interval",
                      "days_of_week"
                    ],
                    "nullable": true,
                    "description": "Defines the configuration of a recurring appointment. Appointments created as recurring series will have `series_parent` = true, and Source will automatically create an appointment for each available time in the series.\n\nUpdating the series 'parent' appointment will update any unmodified future appointments in the series, except for the start time, end times or duration. Updating an individual appointment within the series will prevent the modified fields from being updated when the series appointment is updated.  by default, create a series of recurring appointments. Expressed as a subset of RRULE fields (see [rrule.js docs](https://github.com/jakubroztocil/rrule#api) for more context, but note that we only support a limited subset of the full RRULE spec).\n\nNote that creating an appointment using an appointment type that defines default 'recurrence' configuration will not automatically result in a recurring series being created. You must define the full recurrence configuration on the appointment itself.\n\nNote: the recurring appointments feature is currently in preview. Please contact Source for more details."
                  }
                },
                "required": [
                  "appointment_type",
                  "time_zone",
                  "start_at",
                  "participants"
                ]
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/appointment"
                }
              }
            }
          }
        },
        "x-methodName": "create",
        "x-belongsToResource": "appointment"
      },
      "get": {
        "summary": "List all Appointments",
        "description": "List all appointments in a given time range, or for a given set of participants.\n\nBy default, this method will not return canceled appointments. You can optionally specify include_canceled to true in order to include canceled appointments.",
        "tags": [
          "Appointment"
        ],
        "parameters": [
          {
            "in": "query",
            "style": "form",
            "explode": true,
            "name": "ending_before",
            "schema": {
              "type": "string",
              "description": "A cursor for use in pagination. `ending_before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_bar, your subsequent call can include ending_before=obj_bar in order to fetch the previous page of the list."
            },
            "required": false,
            "description": "A cursor for use in pagination. `ending_before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_bar, your subsequent call can include ending_before=obj_bar in order to fetch the previous page of the list."
          },
          {
            "in": "query",
            "style": "form",
            "explode": true,
            "name": "starting_after",
            "schema": {
              "type": "string",
              "description": "A cursor for use in pagination. `starting_after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include starting_after=obj_foo in order to fetch the next page of the list."
            },
            "required": false,
            "description": "A cursor for use in pagination. `starting_after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include starting_after=obj_foo in order to fetch the next page of the list."
          },
          {
            "in": "query",
            "style": "form",
            "explode": true,
            "name": "limit",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 100,
              "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100."
            },
            "required": false,
            "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100."
          },
          {
            "in": "query",
            "style": "form",
            "explode": true,
            "name": "sort",
            "schema": {
              "type": "string",
              "enum": [
                "start_at",
                "end_at",
                "created_at",
                "-start_at",
                "-end_at",
                "-created_at"
              ],
              "description": "Sort field for the results. A '-' prefix indicates sorting by that field in descending order, otherwise the order will be ascending.",
              "example": "start_at"
            },
            "required": false,
            "description": "Sort field for the results. A '-' prefix indicates sorting by that field in descending order, otherwise the order will be ascending."
          },
          {
            "in": "query",
            "style": "form",
            "explode": true,
            "name": "status",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "booked",
                  "confirmed",
                  "no_show",
                  "completed",
                  "canceled"
                ]
              },
              "description": "Filter appointments by their status. You may provide multiple statuses."
            },
            "required": false,
            "description": "Filter appointments by their status. You may provide multiple statuses."
          },
          {
            "in": "query",
            "style": "form",
            "explode": true,
            "name": "member",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "mem_5QW8j1oKqQjNaPk4Hv3f"
              },
              "description": "Filter appointments by the member. This parameter is inferred when called as a member."
            },
            "required": false,
            "description": "Filter appointments by the member. This parameter is inferred when called as a member."
          },
          {
            "in": "query",
            "style": "form",
            "explode": true,
            "name": "participant",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "usr_qoGndHzx8KwdYsEByt9X"
              },
              "description": "Filter appointments by their participants. Participants must be provided as a list of user identifiers."
            },
            "required": false,
            "description": "Filter appointments by their participants. Participants must be provided as a list of user identifiers."
          },
          {
            "in": "query",
            "style": "form",
            "explode": true,
            "name": "type",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Filter appointments by their type. You may provide appointment type identifiers or keys."
            },
            "required": false,
            "description": "Filter appointments by their type. You may provide appointment type identifiers or keys."
          },
          {
            "in": "query",
            "style": "form",
            "explode": true,
            "name": "externally_managed",
            "schema": {
              "type": "boolean",
              "description": "Filter appointments by whether they are externally managed or not (e.g. imported from a Google calendar)."
            },
            "required": false,
            "description": "Filter appointments by whether they are externally managed or not (e.g. imported from a Google calendar)."
          },
          {
            "in": "query",
            "style": "form",
            "explode": true,
            "name": "include_series_parent",
            "schema": {
              "type": "boolean",
              "description": "When set to true, include the `series_parent` appointments that represent the parent appointments for recurring series."
            },
            "required": false,
            "description": "When set to true, include the `series_parent` appointments that represent the parent appointments for recurring series."
          },
          {
            "in": "query",
            "style": "form",
            "explode": true,
            "name": "series",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "appt_mTvufYJBBgYmbEAEZ6rE"
              },
              "description": "Filter appointments to those within the recurring series specified by the ID of the `series_parent` appointment(s)."
            },
            "required": false,
            "description": "Filter appointments to those within the recurring series specified by the ID of the `series_parent` appointment(s)."
          },
          {
            "in": "query",
            "style": "form",
            "explode": true,
            "name": "start_at",
            "schema": {
              "type": "object",
              "properties": {
                "lt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Return results where the start_at field is less than this value."
                },
                "lte": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Return results where the start_at field is less than or equal to this value."
                },
                "gt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Return results where the start_at field is greater than this value."
                },
                "gte": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Return results where the start_at field is greater than or equal to this value."
                }
              },
              "description": "A time based range filter on the list based on the object start_at field. For example `?start_at[gt]=2021-05-10T16:51:38.075Z&start_at[lte]=2021-05-26T16:51:38.075Z`. The value is a dictionary with the following:"
            },
            "required": false,
            "description": "A time based range filter on the list based on the object start_at field. For example `?start_at[gt]=2021-05-10T16:51:38.075Z&start_at[lte]=2021-05-26T16:51:38.075Z`. The value is a dictionary with the following:"
          },
          {
            "in": "query",
            "style": "form",
            "explode": true,
            "name": "end_at",
            "schema": {
              "type": "object",
              "properties": {
                "lt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Return results where the end_at field is less than this value."
                },
                "lte": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Return results where the end_at field is less than or equal to this value."
                },
                "gt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Return results where the end_at field is greater than this value."
                },
                "gte": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Return results where the end_at field is greater than or equal to this value."
                }
              },
              "description": "A time based range filter on the list based on the object end_at field. For example `?end_at[gt]=2021-05-10T16:51:38.075Z&end_at[lte]=2021-05-26T16:51:38.075Z`. The value is a dictionary with the following:"
            },
            "required": false,
            "description": "A time based range filter on the list based on the object end_at field. For example `?end_at[gt]=2021-05-10T16:51:38.075Z&end_at[lte]=2021-05-26T16:51:38.075Z`. The value is a dictionary with the following:"
          }
        ],
        "responses": {
          "default": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "default": "list",
                      "enum": [
                        "list"
                      ],
                      "example": "list",
                      "description": "Always `list`."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/appointment"
                      },
                      "description": "Array of results"
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "Contains `true` if there is another page of results available."
                    }
                  },
                  "required": [
                    "object",
                    "data",
                    "has_more"
                  ]
                }
              }
            }
          }
        },
        "x-methodName": "list",
        "x-belongsToResource": "appointment"
      }
    },
    "/v1/scheduling/appointments/{id}": {
      "post": {
        "summary": "Update an Appointment",
        "description": "Updates an appointment in Source.\n\nParameters that are omitted from this endpoint will be left untouched. When changing the time of an appointment, you can provide an updated start_at and duration. If you omit one of these two, it will be inferred from the current state of the event.\n\nWhen adding participants to an existing appointment, Source will only perform conflict checks on the newly added participants, ignoring any potential conflicts for participants who are already on the appointment. You may bypass this check by setting the `skip_constraints` param to true.",
        "tags": [
          "Appointment"
        ],
        "parameters": [
          {
            "in": "path",
            "style": "simple",
            "explode": true,
            "name": "id",
            "schema": {
              "type": "string",
              "example": "appt_mTvufYJBBgYmbEAEZ6rE",
              "description": "Unique ID of the appointment."
            },
            "required": true,
            "description": "Unique ID of the appointment."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appointment_type": {
                    "type": "string",
                    "description": "Unique ID or key of the appointment type for this appointment.",
                    "example": "intake_visit"
                  },
                  "time_zone": {
                    "type": "string",
                    "description": "Time zone in which the appointment should be scheduled. Changing this value has no impact on the actual time of the appointment, which is always provided in UTC. However, this value may be used when formatting the appointment time for representation, and recalculating the UTC time in the event of a time zone rule change.",
                    "example": "America/New_York"
                  },
                  "start_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Start time for this appointment. Appointments can be created which start in the past, if you want to record an appointment that has already occured. Appointment times must always be provided in UTC, regardless of the value of the time_zone property.",
                    "example": "2021-05-13T16:33:00.000Z"
                  },
                  "duration": {
                    "type": "number",
                    "maximum": 1440,
                    "description": "The duration of the appointment, in minutes. If no duration is provided, it will be automatically determined based on the appointment type provided.",
                    "example": 30
                  },
                  "end_at": {
                    "type": "string",
                    "format": "date-time",
                    "description": "End time for this appointment. When creating an appointment, you can optionally specify either a duration or an end date. If both are specified, the end_at timestamp will take precedence. If neither are provided, the appointment type's default duration will be used.",
                    "example": "2021-05-13T16:33:00.000Z"
                  },
                  "subject": {
                    "type": "string",
                    "maxLength": 255,
                    "nullable": true,
                    "description": "Subject of this appointment. This will be shown to all participants. It may also be transmitted via email or SMS, so it should not include PHI.",
                    "example": "Pre-Op Check-In"
                  },
                  "instructions": {
                    "type": "string",
                    "maxLength": 1024,
                    "nullable": true,
                    "description": "Member instructions for the appointment, which will be shared in advance. It may also be transmitted via email or SMS, so it should not include PHI.",
                    "example": "Please fast for 12 hours prior to your appointment"
                  },
                  "participants": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "participant": {
                          "type": "string",
                          "example": "usr_qoGndHzx8KwdYsEByt9X",
                          "description": "The participant to include on this appointment. Must be a valid user identifier."
                        }
                      },
                      "required": [
                        "participant"
                      ]
                    },
                    "description": "The participants that should be included on this appointment. At least one participant is required."
                  },
                  "skip_constraints": {
                    "type": "boolean",
                    "description": "By default, Source runs a number of checks to prevent you from creating appointments that seem unsafe. For example, we prevent you from creating appointments that take place in the past, from creating appointments outside of the bookable window for an appointment type, from creating appointments that require licensure with unlicensed participants, or from creating appointments during which one of the participants has a conflict.\n\nWhen calling the appointments endpoints with your API key, you can override this behavior by setting the skip_constraints param to true, allowing you to create your appointment. Note that some checks, such as ensuring the appointment end time is after the start time, cannot be bypassed.\n\nMember tokens are unable to provide this parameter, and will receive a permissions error if they attempt to."
                  },
                  "video_call": {
                    "type": "object",
                    "properties": {
                      "provider": {
                        "type": "string",
                        "enum": [
                          "custom",
                          "source"
                        ],
                        "description": "The video call provider. Source automatically generates video call links for every appointment type that is configured to do so. Alternatively, you can use the value `custom` to provide your own video call link.  When providing `custom`, you must provide a join URL and can optionally include a token or passcode.",
                        "example": "custom"
                      },
                      "join_url": {
                        "type": "string",
                        "nullable": true,
                        "description": "The URL to access the video call. Anyone with this link will be able to request to join this video call, so you should ensure it is kept safe. Only for 'custom' video calls - for 'source' video calls, we generate the join URL.",
                        "example": "https://video-provider.example.com/?join=eeh4Eec1ahBoquohshe1fooh"
                      },
                      "passcode": {
                        "type": "string",
                        "nullable": true,
                        "description": "Passcode used when joining the call. This value is not used for Source-generated video calls, but it may be used if using a custom video provider that requires a passcode.",
                        "example": "letmein"
                      }
                    },
                    "required": [
                      "provider"
                    ],
                    "nullable": true,
                    "description": "Set the details of a video call, if this appointment will be a video visit. By default any appointment for an appointment type with `video_enabled: true` will have a Source video call created when the appointment is created.\n\nMembers may not override the video call settings of an appointment, but users and API keys are able to set `provider: 'source'` to create a Source-managed call, or provide the details of a third-party video call.\n\nTo remove all video call details, set this parameter to null."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/appointment"
                }
              }
            }
          }
        },
        "x-methodName": "update",
        "x-belongsToResource": "appointment"
      },
      "get": {
        "summary": "Retrieve an Appointment",
        "description": "Retrieves an existing appointment by its unique identifier.\n\nAppointments can be accessed by users in your organization. Additionally, members can access their own appointments provided that they've been added as a participant.",
        "tags": [
          "Appointment"
        ],
        "parameters": [
          {
            "in": "path",
            "style": "simple",
            "explode": true,
            "name": "id",
            "schema": {
              "type": "string",
              "example": "appt_mTvufYJBBgYmbEAEZ6rE",
              "description": "Unique ID of the appointment."
            },
            "required": true,
            "description": "Unique ID of the appointment."
          }
        ],
        "responses": {
          "default": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/appointment"
                }
              }
            }
          }
        },
        "x-methodName": "retrieve",
        "x-belongsToResource": "appointment"
      }
    },
    "/v1/scheduling/appointments/{id}/transition": {
      "post": {
        "summary": "Transition an Appointment",
        "description": "Transitions an existing appointment into another status.\n\nCanceled appointments will not show up by default when listing appointments, but they can be optionally requested. Appointments must be canceled before they can be deleted. Once an appointment is canceled, it can no longer be modified.\n\nWhen canceling an appointment that is part of a series, you can optionally set `apply_to_series: true`, which will additionally cancel any appointments in the series after the given appointment.",
        "tags": [
          "Appointment"
        ],
        "parameters": [
          {
            "in": "path",
            "style": "simple",
            "explode": true,
            "name": "id",
            "schema": {
              "type": "string",
              "example": "appt_mTvufYJBBgYmbEAEZ6rE",
              "description": "Unique ID of the appointment."
            },
            "required": true,
            "description": "Unique ID of the appointment."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "booked",
                      "confirmed",
                      "no_show",
                      "completed",
                      "canceled"
                    ]
                  },
                  "apply_to_series": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "status"
                ]
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/appointment"
                }
              }
            }
          }
        },
        "x-methodName": "transition",
        "x-belongsToResource": "appointment"
      }
    },
    "/v1/scheduling/appointments/{id}/cancel": {
      "post": {
        "summary": "Cancel an Appointment",
        "description": "Cancels an existing appointment.\n\nCanceled appointments will not show up by default when listing appointments, but they can be optionally requested. Appointments must be canceled before they can be deleted. Once an appointment is canceled, it can no longer be modified.",
        "tags": [
          "Appointment"
        ],
        "parameters": [
          {
            "in": "path",
            "style": "simple",
            "explode": true,
            "name": "id",
            "schema": {
              "type": "string",
              "example": "appt_mTvufYJBBgYmbEAEZ6rE",
              "description": "Unique ID of the appointment."
            },
            "required": true,
            "description": "Unique ID of the appointment."
          }
        ],
        "responses": {
          "default": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/appointment"
                }
              }
            }
          }
        },
        "x-methodName": "cancel",
        "x-belongsToResource": "appointment"
      }
    },
    "/v1/scheduling/appointment_types": {
      "post": {
        "summary": "Create an Appointment Type",
        "description": "Creates a new appointment type on Source.\n\nAfter creating an appointment type, you can use the availability endpoints to begin searching your team and scheduling them.",
        "tags": [
          "Appointment Type"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "pattern": "^[a-z0-9_-]+$",
                    "description": "Unique key for this appointment type. You can use this when creating appointments via the API.",
                    "example": "intake_visit"
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "description": "Name of this appointment type. This will be visible to members when booking appointments, and to users when using the Source UI.",
                    "example": "Intake Visit"
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 1024,
                    "nullable": true,
                    "description": "A few sentence description of this appointment type. This description will be shown to members when attempting to book an appointment of this type. While not required, it can be helpful to share what the member might expect to happen during this appointment or any resources thay should bring.",
                    "example": "Meet with your new care team and complete a baseline visit"
                  },
                  "default_instructions": {
                    "type": "string",
                    "maxLength": 1024,
                    "nullable": true,
                    "description": "The default instructions that should be provided to members when booking this type of appointment. When creating appointments via the API, these instructions will automatically be applied to the appointment unless overriden. Members are not able to change the instructions on an appointment when creating one, and will also receive this set of instructions by default.",
                    "example": "Please fast for 12 hours before your visit."
                  },
                  "color": {
                    "type": "string",
                    "enum": [
                      "gray",
                      "blue",
                      "teal",
                      "yellow",
                      "green",
                      "red",
                      "orange",
                      "purple"
                    ],
                    "description": "The color used when showing appointments of this type on the calendar. This is primarily used in the Source UI, but you're able to use this in your own system as well. If no color is set, it will default to gray.",
                    "example": "blue"
                  },
                  "duration": {
                    "type": "number",
                    "minimum": 5,
                    "maximum": 1440,
                    "description": "The default duration to apply to appointments of this type. Default durations must be in multiples of 5 minutes. For example, 5 and 10 are valid durations, but 6 and 14 are not. Always measured in minutes. Defaults to 30.",
                    "example": 30
                  },
                  "slot_interval": {
                    "type": "number",
                    "minimum": 5,
                    "maximum": 1440,
                    "description": "The interval between two bookable slots for appointments of this type. Like durations, intervals must also be in multiples of 5 minutes. Always measured in minutes. Defaults to 15.",
                    "example": 15
                  },
                  "bookable": {
                    "type": "boolean",
                    "description": "Whether or not this appointment can be booked directly by a member. If set to false, this appointment can only be scheduled by a user. Note that appointment types with bookable set to false are still visible to members, as they may still have an appointment of that type scheduled. As a result, this does not function as a security or privacy control. Defaults to true.",
                    "example": false
                  },
                  "buffer_before": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 60,
                    "description": "Provides an additional buffer of time before an appointment to prepare. Buffers do not change the appointment duration, but rather make the participants appear \"busy\" for a certain amount of time before the appointment begins. Measured in minutes. Must not be greater than 60 minutes.",
                    "example": 0
                  },
                  "buffer_after": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 60,
                    "description": "Provides an additional buffer of time after an appointment to wrap up. Buffers do not change the appointment duration, but rather make the participants appear \"busy\" for a certain amount of time after the appointment ends. Measured in minutes. Must not be greater than 60 minutes.",
                    "example": 5
                  },
                  "planning_horizon": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 365,
                    "description": "Controls how far in the future appointments can be booked. By default, appointment types have a 60 day planning horizon. You can extend this if you'd like members to be able to book appointments farther in the future. Omitting this field will set the planning horizon to the maximum supported value of 365 days.",
                    "example": 60
                  },
                  "minimum_notice": {
                    "type": "number",
                    "minimum": 0,
                    "description": "Controls the minimum amount of advance notice in order to book appointments of this type. For example, if this parameter is set to 60, members will only be able to book appointments starting at least 60 minutes from now. This option is only considered when members are booking appointments directly. Users can book appointments at any time, including appointments in the past. Measured in minutes.",
                    "example": 60
                  },
                  "routing_strategy": {
                    "type": "string",
                    "enum": [
                      "care_team_required",
                      "care_team_preferred",
                      "care_team_hybrid",
                      "round_robin"
                    ],
                    "description": "Defines how an incoming slot availability query for the appointment type should be routed to possible users. Because of the complexity in routing, it's best explained by example. Assume you have created an appointment type that can be fulfilled by users in the Physicians group. The behavior of each routing strategy is as follows:\n\n- care_team_required - Appointment slots will only be shown for Physicians who are on the member's care team. If there are   no Physicians on the member's care team, the request will fail.\n\n- care_team_preferred - Appointment slots will be shown for any Physicians on the member's care team.   If the Physicians on the care team aren't available, slots will not be returned.   If there are no Physicians on the member's care team, then slots will be returned for any available Physician.\n\n- care_team_hybrid - Appointment slots will be shown for all users in the Physicians group. For any given appointment slot,   if a Physician of the member's care team is available, they will be preferred. However, slots for other Physicians will   still be shown.\n\n- round_robin - Appointment slots will be shown for all users in the Physicians group, and no preference will be given to   users who are also on the member's care team.\n\nBy default, Source uses the care_team_preferred strategy to provide continuity of care and ensure patients have a consistent experience. However, this is not always the right booking strategy for all practices. In fact, even for a single practice, you may sometimes need to reach for another routing method.\n\nIf you have a need for a routing model that isn't covered above, please don't hesitate to reach out to our team.",
                    "example": "care_team_preferred"
                  },
                  "groups": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "grp_IlGhgsstvgsagl6lV89Q"
                    },
                    "description": "Select the groups that should be evaluated when booking an appointment. If no group is specified, you will not be able to use the appointment slot API to find bookable slots. When using the appointment slot API, you can specify more specific users and groups. For example, if your appointment type is linked to the group \"Physicians,\" and when calling the slot API you provide an include parameter for the group \"Nurses,\" you only receive available slots for users who are in both the Physicians and Nurses group.",
                    "example": [
                      "grp_IlGhgsstvgsagl6lV89Q"
                    ]
                  },
                  "license_types": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code"
                      ]
                    },
                    "nullable": true,
                    "description": "The user license(s) that are required to perform appointments of this type. When looking for appointment slots, only the availability of licensed users will be returned. When booking an appointment without the skip_constraints parameter, any licensed user must have a matching license type, otherwise a warning will be returned. If more than one license code is provided, a licensed user with any of the license codes can participate in the appointment. Providing any value will override the entire array. Providing null or an empty array will empty out the array.",
                    "example": [
                      {
                        "code": "MD"
                      }
                    ]
                  },
                  "video_enabled": {
                    "type": "boolean",
                    "description": "Whether or not to create a video call for appointments of this type. Defaults to false.",
                    "example": true
                  },
                  "reminders": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "when": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "default": "before",
                              "enum": [
                                "before"
                              ],
                              "example": "before",
                              "description": "The trigger for when this reminder should be scheduled. Currently, the only supported value is `before`, indicating that this reminder should be triggered based on the requested duration prior to the start of the appointment."
                            },
                            "unit": {
                              "type": "string",
                              "enum": [
                                "minute",
                                "hour",
                                "day"
                              ],
                              "description": "The unit of time used in this reminder configuration. Units are interpreted within the appointment's scheduled time zone, meaning 24 hours and 1 day are not necessarily the same if the reminder window spans daylight savings."
                            },
                            "time": {
                              "type": "number",
                              "description": "The number of units before the appointment at which this reminder should trigger. Must be an integer greater than zero."
                            }
                          },
                          "required": [
                            "type",
                            "unit",
                            "time"
                          ]
                        }
                      },
                      "required": [
                        "when"
                      ]
                    },
                    "description": "The reminder configuration for this appointment type. Each appointment created with this type will inherit the reminder configuration of the appointment type. Changes to reminder configuration will be applied to all future appointments.\n\nYou may configure up to five reminders per appointment type."
                  },
                  "recurrence": {
                    "type": "object",
                    "properties": {
                      "frequency": {
                        "type": "string",
                        "enum": [
                          "weekly"
                        ],
                        "description": "How often the appointments should recur. Source only supports 'weekly' at this time (including \"every N weeks\", using 'interval')",
                        "example": "weekly"
                      },
                      "interval": {
                        "type": "number",
                        "minimum": 1,
                        "maximum": 20,
                        "description": "How many of the `frequency` intervals between each appointment, i.e. 'every N weeks'.",
                        "example": 1
                      },
                      "count": {
                        "type": "number",
                        "minimum": 1,
                        "maximum": 52,
                        "description": "How many total appointments should be in the series.\n\nOne and only one of `count` or `duration` must be set."
                      },
                      "duration": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "unit": {
                            "type": "string",
                            "enum": [
                              "days",
                              "weeks"
                            ]
                          }
                        },
                        "required": [
                          "amount",
                          "unit"
                        ],
                        "description": "Total length of time, expressed in number of days or weeks.\n\nOne and only one of `count` or `duration` must be set."
                      }
                    },
                    "required": [
                      "frequency",
                      "interval"
                    ],
                    "nullable": true,
                    "description": "Defines the default recurrence of this appointment type, if any.  Because creating an actual recurring series requires more information than can be defined in the default (in particular, 'days_of_week' defining which day(s) to recur on), setting the appointment type recurrence will not cause an appointment created with that type to have a recurring series. The appointment must be explicitly created with the full recurrence config for the series.\n\nExpressed as a subset of RRULE fields (see [rrule.js docs](https://github.com/jakubroztocil/rrule#api) for more context, but note that we only support a limited subset of the full RRULE spec).\n\nRecurrence configuration at the appointment type level is slightly different than what is allowed on an actual recurring series, notably rather than `until`, we can specifiy a `duration`. Also, specifying the day of week or month using `days_of_week` is not allowed at the appointment type level.\n\nNote: the recurring appointments feature is currently in preview. Please contact Source for more details."
                  },
                  "encounter_type": {
                    "anyOf": [
                      {
                        "type": "string",
                        "example": "entp_0IcPhnnAMjWduezNQRaC"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "nullable": true,
                    "description": "The encounter type to use by default when creating encounters related to appointments of this type."
                  },
                  "forms": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "form_hSGPOT5BMusNLwDI3Z4N"
                    },
                    "description": "A list of forms that members should complete before appointments of this type. When an appointment is booked, form responses to these forms are automatically created for the member to complete.",
                    "example": [
                      "form_hSGPOT5BMusNLwDI3Z4N"
                    ]
                  }
                },
                "required": [
                  "key",
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/appointment_type"
                }
              }
            }
          }
        },
        "x-methodName": "create",
        "x-belongsToResource": "appointment_type"
      },
      "get": {
        "summary": "List all Appointment Types",
        "description": "Lists all available appointment types.",
        "tags": [
          "Appointment Type"
        ],
        "parameters": [
          {
            "in": "query",
            "style": "form",
            "explode": true,
            "name": "ending_before",
            "schema": {
              "type": "string",
              "description": "A cursor for use in pagination. `ending_before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_bar, your subsequent call can include ending_before=obj_bar in order to fetch the previous page of the list."
            },
            "required": false,
            "description": "A cursor for use in pagination. `ending_before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_bar, your subsequent call can include ending_before=obj_bar in order to fetch the previous page of the list."
          },
          {
            "in": "query",
            "style": "form",
            "explode": true,
            "name": "starting_after",
            "schema": {
              "type": "string",
              "description": "A cursor for use in pagination. `starting_after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include starting_after=obj_foo in order to fetch the next page of the list."
            },
            "required": false,
            "description": "A cursor for use in pagination. `starting_after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include starting_after=obj_foo in order to fetch the next page of the list."
          },
          {
            "in": "query",
            "style": "form",
            "explode": true,
            "name": "limit",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 100,
              "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100."
            },
            "required": false,
            "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100."
          },
          {
            "in": "query",
            "style": "form",
            "explode": true,
            "name": "sort",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "name",
                "-created_at",
                "-name"
              ],
              "description": "Sort field for the results. A '-' prefix indicates sorting by that field in descending order, otherwise the order will be ascending.",
              "example": "created_at"
            },
            "required": false,
            "description": "Sort field for the results. A '-' prefix indicates sorting by that field in descending order, otherwise the order will be ascending."
          },
          {
            "in": "query",
            "style": "form",
            "explode": true,
            "name": "name",
            "schema": {
              "type": "string",
              "description": "Only return appointment types containing this substring. Case insensitive."
            },
            "required": false,
            "description": "Only return appointment types containing this substring. Case insensitive."
          },
          {
            "in": "query",
            "style": "form",
            "explode": true,
            "name": "key",
            "schema": {
              "type": "string",
              "description": "Only return appointment types with this key. Appointment type keys are unique, so when specifying a key through this param, you will only receive up to one appointment type."
            },
            "required": false,
            "description": "Only return appointment types with this key. Appointment type keys are unique, so when specifying a key through this param, you will only receive up to one appointment type."
          },
          {
            "in": "query",
            "style": "form",
            "explode": true,
            "name": "bookable",
            "schema": {
              "type": "boolean",
              "description": "When set to true, filter appointment types to only those which are bookable by a member."
            },
            "required": false,
            "description": "When set to true, filter appointment types to only those which are bookable by a member."
          },
          {
            "in": "query",
            "style": "form",
            "explode": true,
            "name": "include_deleted",
            "schema": {
              "type": "boolean",
              "description": "When set to true, deleted appointment types are included."
            },
            "required": false,
            "description": "When set to true, deleted appointment types are included."
          }
        ],
        "responses": {
          "default": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "default": "list",
                      "enum": [
                        "list"
                      ],
                      "example": "list",
                      "description": "Always `list`."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/appointment_type"
                      },
                      "description": "Array of results"
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "Contains `true` if there is another page of results available."
                    }
                  },
                  "required": [
                    "object",
                    "data",
                    "has_more"
                  ]
                }
              }
            }
          }
        },
        "x-methodName": "list",
        "x-belongsToResource": "appointment_type"
      }
    },
    "/v1/scheduling/appointment_types/{id}": {
      "get": {
        "summary": "Retrieve an Appointment Type",
        "description": "Retrieve an appointment type by its unique identifier.",
        "tags": [
          "Appointment Type"
        ],
        "parameters": [
          {
            "in": "path",
            "style": "simple",
            "explode": true,
            "name": "id",
            "schema": {
              "type": "string",
              "example": "aptp_meYUvkuaI2akjnb5Kwt7",
              "description": "Unique ID of the appointment_type."
            },
            "required": true,
            "description": "Unique ID of the appointment_type."
          }
        ],
        "responses": {
          "default": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/appointment_type"
                }
              }
            }
          }
        },
        "x-methodName": "retrieve",
        "x-belongsToResource": "appointment_type"
      },
      "post": {
        "summary": "Update an Appointment Type",
        "description": "Updates an appointment type.\n\nAppointments are linked to appointment types in Source, so changes made to an appointment type will be visible on past appointments as well. However, some fields, such as the duration and location of the appointment, are copied at the time the appointment is created. Changing the duration of an appointment type will not change the duration of past appointments.",
        "tags": [
          "Appointment Type"
        ],
        "parameters": [
          {
            "in": "path",
            "style": "simple",
            "explode": true,
            "name": "id",
            "schema": {
              "type": "string",
              "example": "aptp_meYUvkuaI2akjnb5Kwt7",
              "description": "Unique ID of the appointment_type."
            },
            "required": true,
            "description": "Unique ID of the appointment_type."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "pattern": "^[a-z0-9_-]+$",
                    "description": "Unique key for this appointment type. You can use this when creating appointments via the API.",
                    "example": "intake_visit"
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "description": "Name of this appointment type. This will be visible to members when booking appointments, and to users when using the Source UI.",
                    "example": "Intake Visit"
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 1024,
                    "nullable": true,
                    "description": "A few sentence description of this appointment type. This description will be shown to members when attempting to book an appointment of this type. While not required, it can be helpful to share what the member might expect to happen during this appointment or any resources thay should bring.",
                    "example": "Meet with your new care team and complete a baseline visit"
                  },
                  "default_instructions": {
                    "type": "string",
                    "maxLength": 1024,
                    "nullable": true,
                    "description": "The default instructions that should be provided to members when booking this type of appointment. When creating appointments via the API, these instructions will automatically be applied to the appointment unless overriden. Members are not able to change the instructions on an appointment when creating one, and will also receive this set of instructions by default.",
                    "example": "Please fast for 12 hours before your visit."
                  },
                  "color": {
                    "type": "string",
                    "enum": [
                      "gray",
                      "blue",
                      "teal",
                      "yellow",
                      "green",
                      "red",
                      "orange",
                      "purple"
                    ],
                    "description": "The color used when showing appointments of this type on the calendar. This is primarily used in the Source UI, but you're able to use this in your own system as well. If no color is set, it will default to gray.",
                    "example": "blue"
                  },
                  "duration": {
                    "type": "number",
                    "minimum": 5,
                    "maximum": 1440,
                    "description": "The default duration to apply to appointments of this type. Default durations must be in multiples of 5 minutes. For example, 5 and 10 are valid durations, but 6 and 14 are not. Always measured in minutes. Defaults to 30.",
                    "example": 30
                  },
                  "slot_interval": {
                    "type": "number",
                    "minimum": 5,
                    "maximum": 1440,
                    "description": "The interval between two bookable slots for appointments of this type. Like durations, intervals must also be in multiples of 5 minutes. Always measured in minutes. Defaults to 15.",
                    "example": 15
                  },
                  "bookable": {
                    "type": "boolean",
                    "description": "Whether or not this appointment can be booked directly by a member. If set to false, this appointment can only be scheduled by a user. Note that appointment types with bookable set to false are still visible to members, as they may still have an appointment of that type scheduled. As a result, this does not function as a security or privacy control. Defaults to true.",
                    "example": false
                  },
                  "buffer_before": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 60,
                    "description": "Provides an additional buffer of time before an appointment to prepare. Buffers do not change the appointment duration, but rather make the participants appear \"busy\" for a certain amount of time before the appointment begins. Measured in minutes. Must not be greater than 60 minutes.",
                    "example": 0
                  },
                  "buffer_after": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 60,
                    "description": "Provides an additional buffer of time after an appointment to wrap up. Buffers do not change the appointment duration, but rather make the participants appear \"busy\" for a certain amount of time after the appointment ends. Measured in minutes. Must not be greater than 60 minutes.",
                    "example": 5
                  },
                  "planning_horizon": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 365,
                    "description": "Controls how far in the future appointments can be booked. By default, appointment types have a 60 day planning horizon. You can extend this if you'd like members to be able to book appointments farther in the future. Omitting this field will set the planning horizon to the maximum supported value of 365 days.",
                    "example": 60
                  },
                  "minimum_notice": {
                    "type": "number",
                    "minimum": 0,
                    "description": "Controls the minimum amount of advance notice in order to book appointments of this type. For example, if this parameter is set to 60, members will only be able to book appointments starting at least 60 minutes from now. This option is only considered when members are booking appointments directly. Users can book appointments at any time, including appointments in the past. Measured in minutes.",
                    "example": 60
                  },
                  "routing_strategy": {
                    "type": "string",
                    "enum": [
                      "care_team_required",
                      "care_team_preferred",
                      "care_team_hybrid",
                      "round_robin"
                    ],
                    "description": "Defines how an incoming slot availability query for the appointment type should be routed to possible users. Because of the complexity in routing, it's best explained by example. Assume you have created an appointment type that can be fulfilled by users in the Physicians group. The behavior of each routing strategy is as follows:\n\n- care_team_required - Appointment slots will only be shown for Physicians who are on the member's care team. If there are   no Physicians on the member's care team, the request will fail.\n\n- care_team_preferred - Appointment slots will be shown for any Physicians on the member's care team.   If the Physicians on the care team aren't available, slots will not be returned.   If there are no Physicians on the member's care team, then slots will be returned for any available Physician.\n\n- care_team_hybrid - Appointment slots will be shown for all users in the Physicians group. For any given appointment slot,   if a Physician of the member's care team is available, they will be preferred. However, slots for other Physicians will   still be shown.\n\n- round_robin - Appointment slots will be shown for all users in the Physicians group, and no preference will be given to   users who are also on the member's care team.\n\nBy default, Source uses the care_team_preferred strategy to provide continuity of care and ensure patients have a consistent experience. However, this is not always the right booking strategy for all practices. In fact, even for a single practice, you may sometimes need to reach for another routing method.\n\nIf you have a need for a routing model that isn't covered above, please don't hesitate to reach out to our team.",
                    "example": "care_team_preferred"
                  },
                  "groups": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "grp_IlGhgsstvgsagl6lV89Q"
                    },
                    "description": "Select the groups that should be evaluated when booking an appointment. If no group is specified, you will not be able to use the appointment slot API to find bookable slots. When using the appointment slot API, you can specify more specific users and groups. For example, if your appointment type is linked to the group \"Physicians,\" and when calling the slot API you provide an include parameter for the group \"Nurses,\" you only receive available slots for users who are in both the Physicians and Nurses group.",
                    "example": [
                      "grp_IlGhgsstvgsagl6lV89Q"
                    ]
                  },
                  "license_types": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code"
                      ]
                    },
                    "nullable": true,
                    "description": "The user license(s) that are required to perform appointments of this type. When looking for appointment slots, only the availability of licensed users will be returned. When booking an appointment without the skip_constraints parameter, any licensed user must have a matching license type, otherwise a warning will be returned. If more than one license code is provided, a licensed user with any of the license codes can participate in the appointment. Providing any value will override the entire array. Providing null or an empty array will empty out the array.",
                    "example": [
                      {
                        "code": "MD"
                      }
                    ]
                  },
                  "video_enabled": {
                    "type": "boolean",
                    "description": "Whether or not to create a video call for appointments of this type. Defaults to false.",
                    "example": true
                  },
                  "reminders": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "when": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "default": "before",
                              "enum": [
                                "before"
                              ],
                              "example": "before",
                              "description": "The trigger for when this reminder should be scheduled. Currently, the only supported value is `before`, indicating that this reminder should be triggered based on the requested duration prior to the start of the appointment."
                            },
                            "unit": {
                              "type": "string",
                              "enum": [
                                "minute",
                                "hour",
                                "day"
                              ],
                              "description": "The unit of time used in this reminder configuration. Units are interpreted within the appointment's scheduled time zone, meaning 24 hours and 1 day are not necessarily the same if the reminder window spans daylight savings."
                            },
                            "time": {
                              "type": "number",
                              "description": "The number of units before the appointment at which this reminder should trigger. Must be an integer greater than zero."
                            }
                          },
                          "required": [
                            "type",
                            "unit",
                            "time"
                          ]
                        }
                      },
                      "required": [
                        "when"
                      ]
                    },
                    "description": "The reminder configuration for this appointment type. Each appointment created with this type will inherit the reminder configuration of the appointment type. Changes to reminder configuration will be applied to all future appointments.\n\nYou may configure up to five reminders per appointment type."
                  },
                  "recurrence": {
                    "type": "object",
                    "properties": {
                      "frequency": {
                        "type": "string",
                        "enum": [
                          "weekly"
                        ],
                        "description": "How often the appointments should recur. Source only supports 'weekly' at this time (including \"every N weeks\", using 'interval')",
                        "example": "weekly"
                      },
                      "interval": {
                        "type": "number",
                        "minimum": 1,
                        "maximum": 20,
                        "description": "How many of the `frequency` intervals between each appointment, i.e. 'every N weeks'.",
                        "example": 1
                      },
                      "count": {
                        "type": "number",
                        "minimum": 1,
                        "maximum": 52,
                        "description": "How many total appointments should be in the series.\n\nOne and only one of `count` or `duration` must be set."
                      },
                      "duration": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "unit": {
                            "type": "string",
                            "enum": [
                              "days",
                              "weeks"
                            ]
                          }
                        },
                        "required": [
                          "amount",
                          "unit"
                        ],
                        "description": "Total length of time, expressed in number of days or weeks.\n\nOne and only one of `count` or `duration` must be set."
                      }
                    },
                    "required": [
                      "frequency",
                      "interval"
                    ],
                    "nullable": true,
                    "description": "Defines the default recurrence of this appointment type, if any.  Because creating an actual recurring series requires more information than can be defined in the default (in particular, 'days_of_week' defining which day(s) to recur on), setting the appointment type recurrence will not cause an appointment created with that type to have a recurring series. The appointment must be explicitly created with the full recurrence config for the series.\n\nExpressed as a subset of RRULE fields (see [rrule.js docs](https://github.com/jakubroztocil/rrule#api) for more context, but note that we only support a limited subset of the full RRULE spec).\n\nRecurrence configuration at the appointment type level is slightly different than what is allowed on an actual recurring series, notably rather than `until`, we can specifiy a `duration`. Also, specifying the day of week or month using `days_of_week` is not allowed at the appointment type level.\n\nNote: the recurring appointments feature is currently in preview. Please contact Source for more details."
                  },
                  "encounter_type": {
                    "anyOf": [
                      {
                        "type": "string",
                        "example": "entp_0IcPhnnAMjWduezNQRaC"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "nullable": true,
                    "description": "The encounter type to use by default when creating encounters related to appointments of this type."
                  },
                  "forms": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "form_hSGPOT5BMusNLwDI3Z4N"
                    },
                    "description": "A list of forms that members should complete before appointments of this type. When an appointment is booked, form responses to these forms are automatically created for the member to complete.",
                    "example": [
                      "form_hSGPOT5BMusNLwDI3Z4N"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/appointment_type"
                }
              }
            }
          }
        },
        "x-methodName": "update",
        "x-belongsToResource": "appointment_type"
      },
      "delete": {
        "summary": "Delete an Appointment Type",
        "description": "Deletes an appointment type from Source.\n\nOnce an appointment type is deleted, it can no longer be used to schedule further appointments. It will still be visible on past appointments that used this type. You can delete an appontment type at any time.",
        "tags": [
          "Appointment Type"
        ],
        "parameters": [
          {
            "in": "path",
            "style": "simple",
            "explode": true,
            "name": "id",
            "schema": {
              "type": "string",
              "example": "aptp_meYUvkuaI2akjnb5Kwt7",
              "description": "Unique ID of the appointment_type."
            },
            "required": true,
            "description": "Unique ID of the appointment_type."
          }
        ],
        "responses": {
          "default": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/appointment_type"
                }
              }
            }
          }
        },
        "x-methodName": "delete",
        "x-belongsToResource": "appointment_type"
      }
    },
    "/v1/users/{user}/availability": {
      "get": {
        "summary": "Retrieve a User Availability Schedule",
        "description": "Retrieves the availability schedule for a user.\n\nEach user in Source has an availability schedule created for them by default. The availability schedules are unique for each environment, so test and live mode will have different availability objects.",
        "tags": [
          "Availability"
        ],
        "parameters": [
          {
            "in": "path",
            "style": "simple",
            "explode": true,
            "name": "user",
            "schema": {
              "type": "string",
              "example": "usr_qoGndHzx8KwdYsEByt9X",
              "description": "Unique ID for the user."
            },
            "required": true,
            "description": "Unique ID for the user."
          }
        ],
        "responses": {
          "default": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/availability"
                }
              }
            }
          }
        },
        "x-methodName": "retrieveForUser",
        "x-belongsToResource": "availability"
      },
      "post": {
        "summary": "Update a User Availability Schedule",
        "description": "Updates an availability schedule for a user.\n\nYou'll need to update a user's availability schedule to make them bookable for appointments in Source.",
        "tags": [
          "Availability"
        ],
        "parameters": [
          {
            "in": "path",
            "style": "simple",
            "explode": true,
            "name": "user",
            "schema": {
              "type": "string",
              "example": "usr_qoGndHzx8KwdYsEByt9X",
              "description": "Unique ID for the user."
            },
            "required": true,
            "description": "Unique ID for the user."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "time_zone": {
                    "type": "string",
                    "nullable": true,
                    "description": "The time zone in which rules on this schedule should be evaluated."
                  },
                  "rules": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "day": {
                          "type": "number",
                          "minimum": 1,
                          "maximum": 7,
                          "description": "The day of the week to which this rule applies, as an ISO day of week. The value of this property must be a number from 1 to 7, where 1 represents Monday, and 7 represents Sunday.",
                          "example": 1
                        },
                        "start": {
                          "type": "string",
                          "format": "time",
                          "description": "The start time of this rule. The value of this property is an ISO local time, formatted as HH:mm, using 24 hour time. Valid values for the start time of a rule range from 00:00 to 23:59.",
                          "example": "09:00"
                        },
                        "end": {
                          "type": "string",
                          "format": "time",
                          "description": "The end time of this rule. The value of this property is an ISO local time, formatted as HH:mm, using 24 hour time. Unlike rule start times, end times may range from 00:00 to 24:00, where 24:00 represents midnight at the end of the day.",
                          "example": "17:00"
                        },
                        "start_date": {
                          "type": "string",
                          "format": "date",
                          "nullable": true,
[...]
